<body> 
<script src="/path/to/jquery.fblogin.js"></script>

<script>

 
//add event listener to login button
	//do the login
$(document).ready(function() {
  $.ajaxSetup({ cache: true });
  $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
    FB.init({
      appId: '{your-app-id}',
      version: 'v2.7' // or v2.1, v2.2, v2.3, ...
    });     
    $('#loginbutton,#feedbutton').removeAttr('disabled');
    FB.getLoginStatus(updateStatusCallback);
  });
});
	

</script>

<div class="row">

  <div class="col m6 s12" id="background-filter">
        <div style="position: absolute; font-weight: lighter; left: 5%; font-size: 2em; top: 5%; color:white"> BLOC </div>
          <p id="fubu" style="position: absolute; top: 0%; left: 70%; font-size: 1em; width: 40%; font-family: Montserrat; color:white"> career advice for us, by us.</p>
          

          <div id="whatyouget">
            <h1> get your seat at the table</h1>
              </div>
  </div>
              
  <div class="loginform col s10  offset-s1 m4 push-m7" style="background-color:inherit; height: 100%" id="login_form">


              <h5 id="first_p"> you won't stop until you're the GOAT</h5>
              <h5 id="second_p">  and we're here to help you along the way  </h5>
              <h5 id="third_p"> sign up for a weekly playlist of the hottest internships, career resources & connections curated by black millennials  </h5>
              <h5 id="fourth-p"> who are committed to helping you get to the top.</h5>
         


  
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field" id="first_field">
        <%= f.hidden_field :email, autofocus: true , :class =>"fieldtext", :id => "user_email" %>
      </div>
    
      <div class="field">
        <% if @minimum_password_length %>
        <% end %><br />
        <%= f.hidden_field :password, autocomplete: "off", :class =>"fieldtext" %>
      </div>
    
      <div class="field">
        <%= f.hidden_field :password_confirmation, autocomplete: "off" , :class =>"fieldtext" %>
      </div>
    
      <div id="signupbtn">
        <%= link_to "Sign Up With Facebook", user_facebook_omniauth_authorize_path, :id => "submitFB" %> 
       </div>
    <% end %>
  </div>



  </div>
</div>
</body>


<style>

body {
	background: url("http://www.ourbloc.co/uploads/2/4/0/1/24014742/blackwomen_orig.jpg") no-repeat center center fixed;
	margin: 0 auto;
	background-size: cover;
	width: 100%;
	height:100%;
	font-family: Montserrat;
	}
p{
  font-family: Montserrat;
}

h1{
  font-family: Montserrat;
  margin-top: 20%;
}
h5{
  font-size: 1.2em;
  padding: 2% 10%;
}
#submitFB{
  position: absolute;
  font-size: 1em;
  background-color: #3b5998;
  color: white;
  border-radius: 4%;
  background: 1px solid white;
  width: 120%;
}
#first_field{
  padding-top: 20%;
}
	
#start_button{
  background-color: inherit;
  border: 5% solid white;
  width: 70%;
  height: 15%;
}
#start_button:hover{
  background-color: grey;
}
	
#page_header{
  position: absolute;
  font-size: 8em;
  top:30% ;
  left: 10%;
  width: 100%;
  color: white;
  font-family: Montserrat;
}
#background-filter{
  position: absolute;
  background-color:black;
  opacity: .85;
  width: 60%;
  height: 100%;
}
	
#formhead {
  position: absolute;
  left: 15%;
  top: 15%;
  font-size: 5em;
  color: black;
  font-weight: strong;
  
}

.loginform {
  position: absolute;
  margin-top:10%;
  margin-left: 20%;
  height: 100%;
}



.fieldtext{
  line-height: 1.2;
  font-size: 1em;
}

.field{
  padding: 0% 15%;
}

input.fieldtext{
  font-size: 1em;
  color: white;
}

#whatyouget{
  position:absolute;
  color:white;
  top: 20%;
  left: 5%;
}


#signupbtn{
  color: white;
  position: relative;
  font-size: 1.5em;
  margin-top: 5%;
  left: 20%;
  height: 20%;
  width: 50%;
}

</style>

<script>

   $('#submitFB').click(function(){
   
  });
  

 
  
 
  
  
</script>