<% if current_user.school == "Morehouse College" %> 
    <%= render "university/partials/menu" %> 
<% end %> 

  <div>
    <% @influencers.each do |influencer| %>
      <div class="influencer_index_card">
        <td> <%= link_to influencer.name, influencer_path(influencer) %></td>

        <% if !user_signed_in?  %>
          <td><%= influencer.industry %></td>
          <td><%= influencer.link %></td>
          <td><%= influencer.prep %></td>
          <td><%= influencer.grad %></td>
          <td><%= link_to 'Show', influencer %></td>
          <td><%= link_to 'Edit', edit_influencer_path(influencer) %></td>
          <td><%= link_to 'Delete', influencer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %> 
    
      </div>
    <% end %>
  </div>

<br>

<% if !user_signed_in?  %> 
<%= link_to 'New influencer', new_influencer_path %>
<% end %> 
