<p id="notice"><%= notice %></p>

<h1>Visions</h1>

<table>
  <thead>
    <tr>
      <th>Industry</th>
      <th>First Job</th>
      <th>Style</th>
      <th>Prep</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visions.each do |vision| %>
      <tr>
        <td><%= vision.industry %></td>
        <td><%= vision.firstjob %></td>
        <td><%= vision.style %></td>
        <td><%= vision.prep %></td>

        <td><%= link_to 'Show', vision %></td>
        <td><%= link_to 'Edit', edit_vision_path(vision) %></td>
        <td><%= link_to 'Destroy', vision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vision', new_vision_path %>
