<!-- landing page/copy --> 
<body>

    <div id="background-filter">
        <h2 id="core-head">You have a vision for your career and we're here to help you make it happen. </br> </br>
        Take our 60 second quiz and get 10 career opportunities and career tips curated just for you.</h2>

    
    </div>
<!-- end lander--> 


<%= form_for(@vision) do |f| %>

    <%= f.hidden_field :username, :id => "field_username" %> 
    <%= f.hidden_field :image, :id => "field_image" %> 
    <%= f.hidden_field :email, :id => "field_email" %> 
    <%= f.hidden_field :gender, :id => "field_gender" %> 
    <%= f.hidden_field :age, :id => "field_age" %> 
    <%= f.hidden_field :timezone, :id => "field_timezone" %> 



    <%= f.hidden_field :industry , :value => "" %>
    <%= f.hidden_field :firstjob, :value => "" %>
    <%= f.hidden_field :style , :value => "" %>
    <%= f.hidden_field :prep , :value => "" %> 
    
    
      <%= f.submit 'get your playlist', :class => "new_vision" %>

<% end %>

</body>
</html>




<style>
  body {
	background: url("http://www.ourbloc.co/uploads/2/4/0/1/24014742/blackwomen_orig.jpg") no-repeat center center fixed;
	margin: 0 auto;
	background-size: cover;
	width: 100%;
	height: 100%;
	font-family: Lato;
	}
	
.new_vision{
    position: absolute;
    left: 16%;
    top: 50%;
    width: 60%;
    height: 35%;
    font-size: 2em;
    color: teal;
    text-transform: uppercase;
}

.new_vision input{
    border: 5px solid white;
    color:#44d9e6;
    background-color: white;
    font-family: Raleway;
    width: 12em;
}

.new_vision input:hover {
    background-color: grey;
}

.core-menu{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
}

.core-bloc{
    background-color: white;
    font-size: 4.5em;
    font-family: Montserrat;
    font-weight: bold;
    height: 5em;
    opacity: .8;
    padding: 15% 10%;
}

#core-head{
   position:fixed;
    top: 20%;
     width: 90%;
     text-align: center;
      color: white;
    line-height: 1.2;
    top: 15%;
    font-size: 2em;
    padding: 10% 20%;
    font-family: Montserrat;
    text-transform: lowercase;
    width: 100%;
}

core-bloc ul {
    height: 5em;
}

.core-bloc:hover {
    background-color: grey;
}
  
  ul  {
    color:black;
    line-height: 1.2;
  }
  
  #start_button{
    position:relative;
    left: 50%;
    color: white;
    height: 17%;
    font-size: 4em;
    line-height: 1.2;
    border: 10px solid white;
  }
  
  #background-filter{
  position: absolute;
  background-color:black;
  opacity: .85;
  width: 100%;
  height: 100%;
}


 @media only screen and (max-device-width: 480px){
   html,body{
     width: 100%;
     height: 100%;
   }
   #core_head{
     position:fixed;
     top: 20%;
     width: 90%;
     padding: 0%;
     text-align: center;
      color: white;
    line-height: 1.2;
    top: 15%;
    font-size: 4em;
    padding: 10% 10%;
    margin-top:30%;
    font-family: Montserrat;
    text-transform: lowercase;
    width: 100%;
   }
   .new_vision{
      position: absolute;
      background-color: inherit;
      left: 9%;
      top: 40%;
      width: 80%;
      height: 35%;
      font-size: 2em;
      color: teal;
   }
   
   .new_vision input:hover{
       background-color: grey;
   }
   
   .new_vision input{
    border: 10px solid #44d9e6;
    color:#44d9e6;
    background-color: inherit;
    font-family: Raleway;
}
 }
 
 
  
  
  
</style>
