 <% @indeed_results.each do |job| %>
            <div class="card horizontal white" style="width:100%">
            <div class="card-content teal-text">
                <span  style="font-size: 2em"><%= job.job_title.downcase %></span>
                  <p><%= job.company %></p>
                  <p class="grey-text"><%= job.snippet%></p>
                   <p><%= job.city %>, <%= job.state %>| <%= job.date.to_s.split(" ")[0] %></p>
                  <i id="save" class="unsaved fa fa-heart-o"></i> 
    
                  <!-- save button --> 
                      <%= form_tag do %>
                          <%= hidden_field_tag(:saved, true)  %>
                      <% end %> 
            
            <%= link_to"more", job.url, :class => "white-text btn waves-effect waves-light" %> 

                
               </div>
              </div>
          <% end %>