<!DOCTYPE html>
<html>
 <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
     <link href='https://fonts.googleapis.com/css?family=:800' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/aileron" type="text/css"/>
     
  </head>
  
  <body style="width:100%;  font-family: Arial; ">
    <div style="padding: 5%"> 
      <img style="width: 100%" src="http://www.ourbloc.co/uploads/2/4/0/1/24014742/1_9_orig.png"> 
      <h5  style="font-size: 2em; text-align:center"> Hey hey <%= @user.name.split.first.capitalize %>,</h5>
      <div style="text-align: center"> 
         <h2 style=" color:#44d9e6 ; font-family: Arial "> Here are a few jobs that stood out this week... </h2>
             <% @jobs.each do |job| %>
                     <h4 style="font-family: Arial"> <%= link_to job.title, job.link %> |<%=  job.company %><br> </h4>
                    <p style="font-family: Arial"> <%= link_to job.description %><br> </h4>

             <% end %> 
              
    
              
        
        <!-- TIPS -->
        
        <h2 style="font-family: Arial; color:#44d9e6 ">And some quick tips and resources ... </h2>

         <% @tips.each do |tip| %>
                <h4 style="font-family: Arial"> <%= tip.title %><br> </h4>
                <h5 style="font-family: Arial"> <%= tip.body %><br> </h5>
                <h4> <%= link_to "Read More", tip.link, style: "font-family: Arial" %><br> </h4>
             
          <% end %> 
          
          <% @grad_tips.each do |tip| %>
                <h4 style="font-family: Arial"> <%= tip.title %><br> </h4>
                <h5 style="font-family: Arial"> <%= tip.body %><br> </h5>
                <h4> <%= link_to "Read More", tip.link, style: "font-family: Arial" %><br> </h4>
             
          <% end %> 
         

      </div >
      
 
      
  
      <div class="share" style="background-color: #44d9e6; padding: 2%; text-align: center; font-size: 2em;
      color: white; font-family: Arial; margin: 5% 0;" > 
      
         <% if @vision == "none" %> 
            <h6 style="text-decoration: none"> <%= link_to 'View your full career playlist', playlist_url(:profileurl => @user.profileurl) %> </h6>
          <% else %> 
          <% end %> 
        <h6> Share with a friend! </h6> <h6> <%= link_to "share code: jointhebloc.com/"+ @user.profileurl, "jointhebloc.com/"+ @user.profileurl, style: "color:white"  %></h6>
        
      
      <p style="font-size: 8px"> unsubscribe from email updates anytime by replying "Unsubscribe" to this email </p>
    </div>
  </body>
</html>
