<h5 class="cyan-text"> Edit Dashboard </h5>
<div class="col s12 l6">
      <%= form_for(@partner) do |f| %>
        <% if @partner.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(partner.errors.count, "error") %> prohibited this partner from being saved:</h2>
      
            <ul>
            <% partner.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="field">
          <%= f.label "Your Name" %>
          <%= f.text_field :admin_name %>
        </div>
        
        
        <div class="field">
          <%= f.label :company %>
          <%= f.text_field :company %>
        </div>
        
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        
        <div class="field">
          <%= f.label :banner %>
          <%= f.file_field :banner %>
        </div>
        
        <div class="field">
          <%= f.label :logo %>
          <%= f.file_field :logo %>
        </div>
        
        
        
        <% if params[:registration] == "payment" %> 
        <div class="center-align"> 
        
        <%= hidden_field_tag params[:price] , id: "price_field" %> 
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
                  data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
                  data-description="Almost there!"
                  data-amount="<%= params[:price] %>" %> 
                  data-email=" "
                  data-locale="auto"> 
            </script>
          </div>
        <% end %> 
        
        
        
      
      <div class="actions center-align">
          <%= f.submit "Edit Dashboard", :class => "btn btn-large cyan strong" , :registration => "design" %>
        </div>
      <% end %>
      
      <br> 
      
      <h5 class="cyan-text"> Add New Team Member </h5>
        <div class="field">
          <div class="row">
            <div class="col s12 l3">
              <p> Name </p>
              <%= text_field_tag params[:team_name]  %>
            </div>
          
            <div class="col s12 l6">
              <p> Email </p>
              <%= text_field_tag params[:team_email] %>
            </div>
           
            <div class="col s12 l3">
              <div class="btn btn-large cyan white-text" style="margin-top: 2%"> <i class="fa fa-paper-plane " > </i> </div>
            </div>
        </div>
      
  <style>
    .btn ,.btn-large {
      padding: 0% 5%;
    }
    
    h5{
      text-transform: uppercase;
      font-family: Montserrat;
      font-weight: 800;
    }
    
    p{
      font-family: Montserrat;
      font-weight: 800;
    }
  </style>