<h5 id="formhead" class="cyan-text center-align"> welcome!</h5>

<div class="loginback"> </div>

<div class="loginform">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="field">
    <%= f.label "EMAIL" , :class =>"fieldtext" %><br />
    <%= f.email_field :email, autofocus: true  , :class =>"fieldtext"%>
  </div>
  
  <%= f.hidden_field :company , value: params[:referring_org] %> 

  <div class="field">
    <%= f.label "PASSWORD" , :class =>"fieldtext" %><br />
    <%= f.password_field :password, autocomplete: "off" , :class =>"fieldtext" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me , :class =>"fieldtext" %>
      <%= f.label :remember_me , :class =>"fieldtext"%>
    </div>
  <% end -%>

  <div class="waves-effect cyan waves-light btn" id="signupbtn">
    <%= f.submit "Log in" , :class => "cyan white-text" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
<%= render "users/sessions/payment" %> </div>

<style>

body {
	background: url("/img/bgimages.jpg") no-repeat center center fixed;
	margin: 0 auto;
	font-family: Montserrat;
	background-size: cover;
	width: 100%;
	height: 100%;
	}
	
#formhead {
  margin: 5% 10%
  text-align: center;
  font-family: Montserrat;
  font-size: 2em;
  color: black;
  font-weight: 800;
  position:fixed;
}

#loginfooter{
  bottom: 0%;
  background-color: 10%;
}

.fieldtext{
  line-height: 2;
  font-size: 2em;
}

.loginform{
   position: fixed;
   width: 80%;
   height: 70%;
   top: 5%;
   margin: 10% 10%;
    font-size: .8em;
    background-color:white;
    padding: 2% 10%;
}

input.fieldtext{
  font-size: 2em;
  color: teal;
}

.loginback{
  position: absolute;
  left: 10%;
  top: 30%;
  height: 40%;
  width: 80%;
  background-color: white;
  opacity: .8;
}



#signupbtn{
  color: white;
  position: relative;
  font-size: 1.5em;
  margin-top: 0%;
  left: 20%;
  height: 15%;
  width: 50%;
}

</style>


<script>
  
</script>