
     <% @jobs.each do |job| %>
            <div class="card horizontal white" style="width:100%">
                <!--
                <div class="card-image">
                    <img src="http://www.ourbloc.co/uploads/2/4/0/1/24014742/coverpic_orig.jpg">
                  </div> -->
            <div class="card-content teal-text">
              <span class="card-title" style="line-height: 1em"><%=  link_to job.title.downcase, job_path(job) %></span>
              <p><%= job.description %></p>
                <i id="save" class="unsaved fa fa-heart-o"></i>

              <td><%= job.created_at.strftime("%m/%d/%y") %></td>

              
          <%= form_tag do %>
              <%= hidden_field_tag(:saved, true) %>
              <% end %> 
               </div>
          </div>
          <% end %>
          
    
     <% @indeed_results.each do |job| %>
            <div class="card horizontal white" style="width:100%">
             
            <div class="card-content teal-text">
              <span style="font-size: 2em"><%= link_to job.job_title, job.url %></span>
              <p><%= job.company %></p>
                <i id="save" class="unsaved fa fa-heart-o"></i>

              <td><%= job.date %></td>
    

           


              
                  <%= form_tag do %>
                      <%= hidden_field_tag(:saved, true) %>
                  <% end %> 
               </div>
              </div>
          <% end %>
          
         <div id="second_indeed_search"> 
         <%= form_tag(vision_path , method: "get") do  %>  
         
           <div class="input-field">
            <%= label_tag :q, "Type in a new job description to refine your timeline"%> 
             <%= text_field_tag :q %> 
            <%= submit_tag "Refine your search", :class => "white-text btn waves-effect waves-light", :id => "second_indeed_submit" %> 
            </div>
            <% end %> 
        </div> 
        
        <% @second_indeed_results.each do |job| %>
            <div class="card horizontal white" style="width:100%">
             
            <div class="card-content teal-text">
              <span style="font-size: 2em"><%= link_to job.job_title, job.url %></span>
              <p><%= job.company %></p>
                <i id="save" class="unsaved fa fa-heart-o"></i>

              <td><%= job.date %></td>

              
                  <%= form_tag do %>
                      <%= hidden_field_tag(:saved, true) %>
                  <% end %> 
               </div>
              </div>
          <% end %>
        
         
        
        
          <style> 
          
          
          a {
              line-height: 1em;
          }
          
          a:hover{
              color: teal ;
          }
          </style>
          
          <script> 
              $("#second_indeed_submit").click(function(){
                  $("#second_indeed_search").hide();
              });
          </script>
   