
     <% @jobs.each do |job| %>
            <div class="card horizontal white" style="">
                <!--
                <div class="card-image">
                    <img src="http://www.ourbloc.co/uploads/2/4/0/1/24014742/coverpic_orig.jpg">
                  </div> -->
            <div class="card-content teal-text">
              <span class="indeed_show card-title" style="line-height: 1em"><%= job.title %></span>
              
              <p><%= job.description %></p>
                <i id="save" class="unsaved fa fa-heart-o"></i>

              <td><%= job.created_at.strftime("%m/%d/%y") %></td>

              
          <%= form_tag do %>
              <%= hidden_field_tag(:saved, true) %>
              <% end %> 
               </div>
          </div>
          <% end %>
          
    
     <% @indeed_results.each do |job| %>
            <div class="card horizontal white" style="">
            <div class="card-content teal-text">
                <span  style="font-size: 2em"><%= job.job_title.downcase %></span>
                  <p><%= job.company %></p>
                  <p class="grey-text"><%= job.snippet%></p>
                   <p><%= job.city %>, <%= job.state %>| <%= job.date.to_s.split(" ")[0] %></p>

            <%= link_to "MORE", job.url, :class => "indeed_more grey-text" %> 

                
               </div>
              </div>
          <% end %>
          
         
        
        <% @second_indeed_results.each do |job| %>
            <div class="card horizontal white" style="">
             
            <div class="card-content teal-text">
              <span style="font-size: 2em"><%= job.job_title %></span>
                <p><%= job.company %></p>
                <p class="grey-text"><%= job.snippet%></p>
                <p><%= job.city %>, <%= job.state %>| <%= job.date.to_s.split(" ")[0] %></p>

               </div>
              </div>
          <% end %>
        
        
      <% if current_user.sign_in_count == 150 %> 

        <div id="second_indeed_search"> 
             <%= form_tag(vision_path , method: "get", remote: true ) do  %>  
             
               <div class="input-field" style="line-height: 1.1">
                <%= label_tag :q, "Type in a new job description to refine your timeline"%> 
                 <%= text_field_tag :q %> 
                <%= submit_tag "Refine your search", :class => "white-text btn waves-effect waves-light", :id => "second_indeed_submit" %> 
                </div>
                <% end %> 
            </div> 
        <% end %>
        
        
        
        
        
        
          <style> 
          
          .indeed_more{
              font-family: Montserrat;
              border: 1px solid grey;
              margin: 1% 1% 1% 80%;
              padding: 1%;
              
          }
          .indeed_more:hover{
              background-color: grey;
              color:black;
          }
          .card  {
              width: 100%;
          }
          .card-content{
              width: 100%;
          }
          a {
              line-height: 1em;
          }
          
          a:hover{
              color: teal ;
          }
          
          @media only screen and (max-device-width: 480px){
              .indeed_more{
                  width: 20%;
                margin: 1% 1% 5% 85%;
                height: 10%;
                padding: 1%;

              }
              .card{
                  width: 140%;
                  margin-left: -10%;
                  padding: 5%;
              }
          }
          
          </style>
          
          <script> 
              $("#second_indeed_submit").click(function(){
              });
              
            
             
          </script>
   