
<!-- THREE OPPORTUNITIES --> 
     <% @resources.each do |resource| %>

        
             <div class="card horizontal" style="width:100%">
                <!--
                <div class="card-image" style="width: 10%">
                    <img src="http://www.ourbloc.co/uploads/2/4/0/1/24014742/coverpic_orig.jpg">
                  </div>
                  -->
            <div class="card-content teal-text">
              <span class="card-title grey-text"><%= link_to resource.title, resource_path(resource) %></span>
              <p><%= resource.description %></p>
                <i id="save" class="unsaved fa fa-heart-o"></i>

              <td><%= resource.created_at.strftime("%m/%d/%y") %></td>

              
          <%= form_tag do %>
              <%= hidden_field_tag(:saved, true) %>
              <% end %> 
               </div>
          </div>
      <% end %>
 

<style>
    a{
        color: grey;
    }
    a:hover{
        color: grey;
    }
</style>