<p id="notice"><%= notice %></p>

<h1>Asks</h1>

<table class="responsive-table">
  <thead>
    <tr>
      <th data-field="title">Title</th>
      <th data-field="body">Description</th>
      <th data-field="sector">Bloc</th>
      <th data-field="date">Created</th>
      <th data-field="table-links"></th>
    </tr>
  </thead>

  <tbody>
  <% @asks.each do |ask| %>
    <tr>
      <td><%= ask.title %></td>
      <td><%= ask.body %></td>
      <td><%= ask.sector %></td>
      <td><%= ask.created_at.strftime("%m/%d/%y") %></td>
      <td><%= link_to 'Edit', edit_ask_path(ask) %> | <%= link_to 'Destroy', ask, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Ask', new_ask_path %>
