<h1> trying to merge in these damn changes</h1>
<%= form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
   <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>
  
  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :deadline %>
    <%= f.date_field :deadline, value: Date.today.strftime('%d.%m.%Y') %>
  </div>

  <div class="field">
    <%= f.label :industry %>
    <%= f.hidden_field :industry , :id =>"field_jobindustry1" %>
    <%= f.hidden_field :industry2 , :id =>"field_jobindustry2" %>
    <%= f.hidden_field :industry3 , :id =>"field_jobindustry3" %>

    <div class="job_industry white-text btn waves-effect waves-light" id="Griots"> Griots </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="Techies"> Techies </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="Scientists"> Scientists </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="CSuite"> CSuite </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="Educators"> Educators </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="Activists"> Activists </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="Advocates"> Advocates </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="Entrepreneurs"> Entrepreneurs </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="Creatives"> Creatives </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="All"> All </div>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<script>

      var count = 1; 
    
       $('.job_industry').click(function(){
          $(this).css ({
            'border' : "5px solid yellow" });
          
          var idval = $(this).attr("id");
          console.log(idval + count);
         
          
          var form_field = "#field_jobindustry"+count ; 
          
          console.log (form_field)
         $(form_field).val(idval);
          
          count += 1; 
         
       });


  
</script>