<%= form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
   <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>
  
  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :deadline %>
    <%= f.date_field :deadline, value: Date.today.strftime('%d.%m.%Y') %>
  </div>

  <div class="field">
    <%= f.label :industry %>
    <%= f.hidden_field :industry , :id =>"field_jobindustry" %>
    
    <div class="job_industry white-text btn waves-effect waves-light" id="Griots"> Griots </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="Techies"> Techies </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="Scientists"> Scientists </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="CSuite"> CSuite </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="Educators"> Educators </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="Activists"> Activists </div>
    <div class="job_industry white-text btn waves-effect waves-light" id="Advocates"> Advocates </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<script>
  $('.job_industry').click(function(){
      var idval = $(this).attr("id");
      console.log(idval);
          
      $('#field_jobindustry').val(idval);
            
  });

  
</script>