<div style="height: 10%">
  <h2 class="cyan-text lighten-1" style="font-family: Montserrat; text-align:center; margin-top: 10%; margin-bottom: 5%"> Bloc Opportunities Board </h2>
</div>
  
  <div>
    <% @jobs.each do |job| %>
      <div class="job_index_card">
        <td> 
        <h5> <%= link_to job.title, job_path(job.id) ,class:"cyan-text lighten-1 job_title" %></h5>
          <p class="grey-text job_company"> <%= job.company  %></p>
        </td>

        <% if user_signed_in? and current_user.name =="Amina Yamusah" %>
          <td><%= job.industry %></td>
          <td><%= job.prep %></td>
          <td><%= job.link %></td>
         
          <td><%= link_to 'Show', job %></td>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %> 
    
      </div>
    <% end %>
  </div>

<br>

<% if !user_signed_in?  %> 
<%= link_to 'New job', new_job_path %>
<% end %> 
