<div>
  <h2 class="cyan-text lighten-1" style="font-family: Montserrat; text-align:center; margin-top: 10%"> Bloc Opportunities Board </h2>
  
  <% if user_signed_in? %> 
    <p class="grey-text center-align"> Thank you for registering, <%= current_user.name.split.first.capitalize%>! Check out some opportunities below and be on the look out for your weekly career playlist on Monday . <p>
  <% end %> 
</div>
  
  <div>
    <% @jobs.each do |job| %>
      <div class="job_index_card">
        <td> 
        <h5> <%= link_to job.title, job.link ,class:"cyan-text lighten-1 job_title" %></h5>
          <p class="grey-text job_company"> <%= job.company  %></p>
        </td>

        <% if user_signed_in? and current_user.name =="Amina Yamusah" %>
          <td><% if job.industry != nil %> <%= job.industry %> <% end %> </td>
          <td><%= job.link %></td>
         
          <td><%= link_to 'Show', job %></td>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %> 
    
      </div>
    <% end %>
  </div>

<br>

<% if !user_signed_in?  %> 
<%= link_to 'New job', new_job_path %>
<% end %> 
