
<p id="notice"><%= notice %></p>
<h1 id="job_title"> <%= @job.company %> </h1>
<div class="row">
  <div class="col s12 m6">
    <div class="jobs_card card white">
      <div class="card-content">
        <h1 class="card-title"><%= @job.title %></h1>
        <p><%= @job.description %></p>
        <p><%= @job.industry %></p>

      
      </div>
      <div class="card-action teal-text">
        <%= link_to 'Apply Now', @job.link , style: "color:#44d9e6" %>
        <% if current_user == @job.user %> 
        <a href="#"><%= link_to 'Edit', edit_job_path(@job) %></a>
        
        <a href="#"><%= link_to 'Back', jobs_path %></a>
        <% end %> 
      </div>
    </div>
  </div>
</div>
<style> 
body {
            	background: url("http://www.ourbloc.co/uploads/2/4/0/1/24014742/jobs-board-2_orig.png") no-repeat center center fixed;
            	margin: 0 auto;
            	background-size: cover;
            	width: 100%;
            	height:100%;
            	font-family: Raleway;
            	}
        	.card-action a{
        	  color:#44d9e6;
        	}
        	
          h1, h2, h6 {
            font-family: Raleway ;
          }
          

          
          h1{
            text-transform: uppercase;
          }
          
          
          .jobs_card{

          }
          
         
          .card  {
              width: 100%;
              font-family: Raleway;
          }
          .card-content p{
              width: 100%;
              font-family: Lato ;
          }
          .card-title{
            color: #44d9e6;
          }
          a {
              line-height: 1em;
          }
          
          a:hover{
              color: teal ;
          }
          
          #job_title{
              font-size: 1.5em;
              width: 50%;
              left: -10%;
              color:white;
              text-align: center;
              padding: 5% 0% 5% 0%;
              
          }
          
          #job_company{
                  position:absolute;
                  color: teal;
                  bottom: 5%;
                  font-family: Raleway;
                  font-size: 1em;
                  text-align: center;
                  text-transform: uppercase;
              }
              a:hover {
                background-color: inherit;
              }
              .card-title{
                color: teal;
                font-family: Raleway;
              }
       
          
          @media only screen and (max-device-width: 480px){
             body, html {
               width:100%;
             }
            	
            
              .jobs_card{
                  width: 100%;
                  left: 0;
                  position:absolute;
                  margin-left: 0%;
                  padding: 10% 0%;
                  top: 50%;
                  margin:0;
                  font-size: 3em;
              }
            
              .card-content p {
                font-size: 1.5em;
                line-height: 1;
                height: 100%;
                font-family: Montserrat;
              }
              
              #job_title{
                position: fixed;
                color: white;
                left: 0;
                top: 30%;
                font-size: 3em;
                text-align:center;
                width: 100%;
                text-transform: uppercase;
              }
          }
          </style> 
   

