

      <div class="col-md-12 collection" id="the-box">

        <div id="Academia" >
          <%= render 'partials/academia' %>
        </div>

        <div id="Arts">
             <%= render 'partials/arts' %>
        </div>

        <div id="Advertising">
            <%= render 'partials/advertising' %>
        </div>

        <div id="Business">
            <%= render 'partials/business' %>
        </div>

        <div id="Entreprenuership">
            <%= render 'partials/entrepreneurship' %>
        </div>

        <div id="Finance">
            <%= render 'partials/finance' %>
        </div>

        <div id="Entertainment">
          <%= render 'partials/entertainment' %>
        </div>

        <div id="Government">
          <%= render 'partials/government' %>
        </div>

        <div id="SocialImpact">
          <%= render 'partials/socialimpact' %>
        </div>

        <div id="Tech">
          <%= render 'partials/tech' %>
        </div>

        <div id="Philanthropy">
          <%= render 'partials/philanthropy' %>
        </div>

        <div id="Talent">
          <%= render 'partials/talent' %>
        </div>
      </div>
      </div>
    </div>



<style>
  #the-box{
    width: 100%;
    left: 20%;
  }
  
  #academia{
    width: 100%;
  }
</style>

