<div class="container">
  <div class="row">

    <div class="col s12">
      <ul class="tabs" class="scrollable">
        <li class="tab col s3"><a class="active" href="#Academia">Academia</a></li>
        <li class="tab col s3"><a href="#Arts">Arts</a></li>
        <li class="tab col s3"><a href="#Advertising">Advertising</a></li>
        <li class="tab col s3"><a href="#Business">Business</a></li>
        <li class="tab col s3"><a href="#Entreprenuership">Entreprenuership</a></li>
        <li class="tab col s3"><a href="#Finance">Finance</a></li>
        <li class="tab col s3"><a href="#Entertainment">Entertainment</a></li>
        <li class="tab col s3"><a href="#Government">Government</a></li>
        <li class="tab col s3"><a href="#SocialImpact">Social Impact</a></li>
        <li class="tab col s3"><a href="#Tech">Tech</a></li>
        <li class="tab col s3"><a href="#Philanthropy">Philanthropy</a></li>
        <li class="tab col s3"><a href="#Talent">Talent</a></li>
      </ul>
    </div><br><br>

    <div id="Academia" class="col s6">
      <%= render 'partials/academia' %>
    </div>

    <div id="Arts" class="col s12">
      <%= render 'partials/arts' %>
    </div>

    <div id="Advertising" class="col s12">
      <%= render 'partials/advertising' %>
    </div>

    <div id="Business" class="col s12">
      <%= render 'partials/business' %>
    </div>

    <div id="Entreprenuership" class="col s12">
      <%= render 'partials/entrepreneurship' %>
    </div>

    <div id="Finance" class="col s12">
      <%= render 'partials/finance' %>
    </div>

    <div id="Entertainment" class="col s12">
      <%= render 'partials/entertainment' %>
    </div>

    <div id="Government" class="col s12">
      <%= render 'partials/government' %>
    </div>

    <div id="SocialImpact" class="col s12">
      <%= render 'partials/socialimpact' %>
    </div>

    <div id="Tech" class="col s12">
      <%= render 'partials/tech' %>
    </div>

    <div id="Philanthropy" class="col s12">
      <%= render 'partials/philanthropy' %>
    </div>

    <div id="Talent" class="col s12">
      <%= render 'partials/talent' %>
    </div>
</div>
</div>
