<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOC</title>

    <!-- Materialize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

     <!-- STYLESHEETS -->
     <link rel="stylesheet" href="../../assets/css/style.css">

     <!-- VENDOR SCRIPTS -->
     <!-- jquery -->
     <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
     <!-- handlebars -->
     <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script> -->

     <!-- APPLICATION SCRIPTS -->
     <script src="../../assets//javascripts/scripts/data.js"></script>
     <script src="../../assets/javascripts/scripts/app.js"></script>
     <!-- CSS  -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <link href="../../assets/stylesheets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
     <link href="../../assets/stylesheets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper"><a style="color:black" id="logo-container" href="#" class="brand-logo">BLOC</a>
        <ul class="right hide-on-med-and-down">
	        <% if user_signed_in? %>
  	        <li class="waves-effect waves-light btn"> <%= link_to "EDIT PROFILE", edit_user_registration_path %> </li>
  	        <li class="waves-effect waves-light btn teal lighten-5"> <%= link_to "LOG OUT", destroy_user_session_path , method: :delete %> </li>
	        <% else %>
  	        <li class="waves-effect waves-light btn"> <%= link_to "REGISTER", new_user_registration_path %> </li>
  	        <li class="waves-effect waves-light btn teal lighten-5"> <%= link_to "LOG IN", new_user_session_path %> </li>
          <% end %>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#"></a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <!-- preloading abr, the materialie one looks crazy -->
    <div class="progress">
      <div class="indeterminate"></div>
  </div>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <% if user_signed_in? %>
          <div class="left light-grey-text sidebar">
            <h3 class="header">User Bio</h3>
            <%= link_to 'New Share', new_share_path %>
            <%= link_to 'New Ask', new_ask_path %>
            <%= link_to 'New Resource', new_resource_path %>
            <%= link_to 'New Job', new_job_path %>
            <br>
            <h4 class="header">Recent Shares & Asks</h4>
            <%# TODO: render partial for shares and asks %>
          </div>
          <h3 class="right header light-grey-text">Timeline</h3>
        <% else %>
          <h3>Welcome to Bloc!</h3>
        <% end %>
      </div>
    </div>

    <div></div>

    <!-- TABS START -->

    <!-- The headers for tags w/ links -->
    <div class="container">
    <ul class="tabs">
      <div class="container">
        <li class="active"><a href="#Education">Education</a></li>
        <li><a href="#Healthcare">Healthcare</a></li>
        <li><a href="#Law">Law</a></li>
        <li><a href="#Technology">Technology</a></li>
        <li><a href="#Social Work">Social Work</a></li>
        <!-- <li><a href="#Entrepreneurship">Entrepreneurship</a></li>
        <li><a href="#Infrastructure">Infrastructure</a></li>
        <li><a href="#Transportation">Transportation</a></li><br> -->
      </div>
    </ul><br>
    </div>

    <!-- Education container -->
    <div class="nested-tab-content" id="Education">
        <div class="container">
        <ul class="tabs">
          <li class="active"><a href="#ask">asks</a></li>
          <li><a href="#share">shares</a></li>
          <li><a href="#jobs">jobs</a></li>
          <li><a href="#influencers">influencers</a></li>
        </ul>
        </div>

        <div class="nested-tab-content" id="ask">
          <div class="container">
              <p>Im an ask</p>
          </div>
        </div>

        <div class="nested-tab-content" id="share">
          <div class="container">
              <p>Im a share</p>
          </div>
        </div>

        <div class="nested-tab-content" id="job">
          <div class="container">
              <p>Im a job</p>
          </div>
        </div>

        <div class="nested-tab-content" id="influencer">
          <div class="container">
              <p>Im an influencer</p>
          </div>
        </div>

    </div>

    <!-- healthcare container -->
    <div class="tab-content" id="Healthcare">

        <ul class="tabs2">
          <li class="active"><a href="#ask">asks</a></li>
          <li><a href="#share">shares</a></li>
          <li><a href="#jobs">jobs</a></li>
          <li><a href="#influencers">influencers</a></li>
        </ul>

        <div class="tab-content" id="ask">
          <p>Im an ask</p>
        </div>
        <div class="tab-content" id="share">
          <p>Im an ask</p>
        </div>
        <div class="tab-content" id="job">
          <p>Im a job</p>
        </div>
        <div class="tab-content" id="influencer">
          <p>Im an influencer</p>
        </div>

    </div>

    <!-- law container -->
    < <div class="tab-content" id="Law">

        <ul class="tabs2">
          <li class="active"><a href="#ask">asks</a></li>
          <li><a href="#share">shares</a></li>
          <li><a href="#jobs">jobs</a></li>
          <li><a href="#influencers">influencers</a></li>
        </ul>

        <div class="tab-content" id="ask">
          <p>Im an ask</p>
        </div>
        <div class="tab-content" id="share">
          <p>Im an ask</p>
        </div>
        <div class="tab-content" id="job">
          <p>Im a job</p>
        </div>
        <div class="tab-content" id="influencer">
          <p>Im an influencer</p>
        </div>

    </div>

    <div class="tab-content" id="Technology">

        <ul class="tabs2">
          <li class="active"><a href="#ask">asks</a></li>
          <li><a href="#share">shares</a></li>
          <li><a href="#jobs">jobs</a></li>
          <li><a href="#influencers">influencers</a></li>
        </ul>

        <div class="tab-content" id="ask">
          <p>Im an ask</p>
        </div>
        <div class="tab-content" id="share">
          <p>Im an ask</p>
        </div>
        <div class="tab-content" id="job">
          <p>Im a job</p>
        </div>
        <div class="tab-content" id="influencer">
          <p>Im an influencer</p>
        </div>

    </div>

    <div class="tab-content" id="Social Work">

        <ul class="tabs2">
          <li class="active"><a href="#ask">asks</a></li>
          <li><a href="#share">shares</a></li>
          <li><a href="#jobs">jobs</a></li>
          <li><a href="#influencers">influencers</a></li>
        </ul>

        <div class="tab-content" id="ask">
          <p>Im an ask</p>
        </div>
        <div class="tab-content" id="share">
          <p>Im an ask</p>
        </div>
        <div class="tab-content" id="job">
          <p>Im a job</p>
        </div>
        <div class="tab-content" id="influencer">
          <p>Im an influencer</p>
        </div>

    </div>

    <div class="tab-content" id="Entrepreneurship">

        <ul class="tabs">
          <li class="active"><a href="#ask">asks</a></li>
          <li><a href="#share">shares</a></li>
          <li><a href="#jobs">jobs</a></li>
          <li><a href="#influencers">influencers</a></li>
        </ul>

        <div class="tab-content" id="ask">
          <p>Im an ask</p>
        </div>
        <div class="tab-content" id="share">
          <p>Im an ask</p>
        </div>
        <div class="tab-content" id="job">
          <p>Im a job</p>
        </div>
        <div class="tab-content" id="influencer">
          <p>Im an influencer</p>
        </div>

    </div>

    <div class="tab-content" id="Infrastructure">

        <ul class="tabs">
          <li class="active"><a href="#ask">asks</a></li>
          <li><a href="#share">shares</a></li>
          <li><a href="#jobs">jobs</a></li>
          <li><a href="#influencers">influencers</a></li>
        </ul>

        <div class="tab-content" id="ask">
          <p>Im an ask</p>
        </div>
        <div class="tab-content" id="share">
          <p>Im an ask</p>
        </div>
        <div class="tab-content" id="job">
          <p>Im a job</p>
        </div>
        <div class="tab-content" id="influencer">
          <p>Im an influencer</p>
        </div>

    </div>

    <div class="tab-content" id="Transportation">

        <ul class="tabs">
          <li class="active"><a href="#ask">asks</a></li>
          <li><a href="#share">shares</a></li>
          <li><a href="#jobs">jobs</a></li>
          <li><a href="#influencers">influencers</a></li>
        </ul>

        <div class="tab-content" id="ask">
          <p>Im an ask</p>
        </div>
        <div class="tab-content" id="share">
          <p>Im an ask</p>
        </div>
        <div class="tab-content" id="job">
          <p>Im a job</p>
        </div>
        <div class="tab-content" id="influencer">
          <p>Im an influencer</p>
        </div>
      </div>

  </div>
    <!-- TABS END -->

    <footer class="page-footer black">
      <div class="container">
        <div class="row">
          <div class="col m3 s12">
            <h6 class="white-text">Contact</h6>
          </div>
          <div class="col m3 s12">
            <h6 class="white-text">About</h6>
          </div>
          <div class="col m6 s12">
            <h6 class="white-text">Empowering Black Students</h6>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Our Bloc <span class="white-text text-lighten-3" Materialize>2016</span>
        </div>
      </div>
    </footer>

     <!--  Scripts-->
     <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script src="../../assets/javascripts/scripts/materialize.js"></script>
     <script src="../../assets/javascripts/scripts/materialize.min.js"></script>
     <script src="../../assets/javascripts/scripts/init.js"></script>
     <script scr="../../assets/javascripts/scripts/app.js"></script>
     <script src="../../assets/javascripts/scripts/data.js"></script>
     </body>
</html>
