
     <%  @indeed_results[4..7].each do |job| %>
            <% if @color2_count == 0 || @color2_count == 3 %> 
            <div class="card horizontal col s6 l3" style="background-color: #2eb2ff" >
        <% elsif @color2_count == 1 %> 
            <div class="card horizontal col s6 l3" style="background-color: #d9d9d9">
        <% else %> 
            <div class="card horizontal col s6 l3" style="background-color: #5271ff">
        <% end %> 
        
       
        
            <div class="card-content white-text">
                <div class="hide_card">
                    <h4 id="job_title"><%= job.job_title.upcase %></h4>
                    <h5 id="job_company"><%= job.company %></h5>
                     
                 </div>
                 
                <div class="show_card"> 
                  <p><%= job.snippet%></p>
                   <p><%= job.city %>, <%= job.state %>| <%= job.date.to_s.split(" ")[0] %></p>

            <%= link_to "MORE", job.url, :class => "indeed_more grey-text" %> 
            <% @color2_count += 1 %> 

                </div>
               </div>
              </div>
          <% end %>
          
         
      
        
        
    
          <script> 
              $(document).ready(function(){
                $('.show_card').hide()
              });
              
              $('.hide_card').click(function(){
                  $(this).hide(10);
                $(this).next('.show_card').show(5);
                $(this).parent('.card').css
              });
              
              $('.show_card').click(function(){
                  $(this).hide(10);
                $(this).prev('.hide_card').show(5);
              });
              
            
             
          </script>
   