
<!-- THREE OPPORTUNITIES --> 
<%if @tips != nil %>
    <% @tips.each do |tip| %>
           <div>
                <h4 id="job_title" class=""><%= link_to tip.title.upcase , tip.link  , :class => "cyan-text lighten-1" %></h4>
                <p id="tip_p" class="grey-text"><%= truncate(simple_format(tip.body), :length => 600, escape: false) %></p>
                <p id="tip_p" class="yellow-text"><%= link_to "Read More", tip_path(tip.id) , class:"cyan-text lighten-1"%></p>
           
            </div>
    <% end %> 
<% else %> 
    <% @grad_tips.each do |tip| %>
           <div class="tip_div">
                <h4 id="job_title" class=""><%= link_to tip.title.upcase , tip.link  , :class => "cyan-text lighten-1" %></h4>
                <p id="tip_p" class="grey-text"> <%= truncate(simple_format(tip.body), :length => 600 , escape: false, :id => "tip_p") %></p>
                <p id="tip_p" class="yellow-text"><%= link_to "Read More", tip_path(tip.id) , class:"cyan-text lighten-1" %></p>
              
            </div>
    <% end %> 
    
    
<% end %>
    

<style>
   
    a{
        color: grey;
    }
    a:hover{
        color: grey;
    }
    p {
        font-size: 1.5em;
    }
    #tip_image {
        margin-top: 0%;
        width: 100%;
    }
    
    .tip_div {
        width: 120%;
        padding: 0%;
    }
}
    
 
</style>