<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title class="grey-text"> bloc. </title>

    <!-- Bootstrap Core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="lib/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="css/new-age.css" rel="stylesheet">
    
    <!-- Scroll Lock --> 
    <% content_for :javascript_includes do %>
  <%= javascript_include_tag "scrollLock.js" %>
<% end %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <%= render 'welcome/navbar' %> 

    <header>
        <div class="container">
            <div class="row" >
                <div class="col s12 m7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <br> 
                            <h1 class="grey-text">Bloc is your unapologetically black, digital career coach ... here to help you <span class="cyan_highlight" id="highlight_1">land</span>
                            & <span class="cyan_highlight" id="highlight_2">keep</span>  your <span class="cyan_highlight" id="highlight_3">dream job</span>. </h1><br>
                             
                             
                        <!-- FORM FOR REGISTRATION --> 
                             <%= form_tag(new_user_registration_path, :method => "get") do %>
                            <div class="row" style="position:relative; margin-top:2%; width: 100%; padding: 2% 1%; height: 6em ">
                                <div class="col l4 s12" style="padding: 2%">
                                    <%= text_field_tag(:name , "", placeholder: "NAME",style: "font-size: 2em; 
                                    border: 3px solid #4dd0e1; padding: .2em 1em; width: 70% ", class:"cyan-text lighten-1" ) %>
                                </div>
                                
                                <div class="col l4 s12" style="padding: 2%">
                                    <%= text_field_tag(:email , "", placeholder: "EMAIL" ,style: "font-size: 2em; 
                                    border: 3px solid #4dd0e1; padding: .2em 1em; width: 70% ", class:"cyan-text lighten-1" ) %>
                                    
                                </div>
                                 
                                
                                <div class="col l3 s12" style="padding: 2%">
                                    <%= submit_tag("Send me weekly tips!", class: "waves-effect cyan btn whit-text lighten-1",
                                    style:"margin-top: .5em, margin-bottom: 2em" ) %>
                                </div>
                            </div>
                            <% end %>   
                        </div>
                    </div>
                </div>
                
                <div class="col s12 m5 l5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="img/demophone.png" style="width: 100%" class="img-responsive" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="download" class="download bg-primary text-center" style="margin-bottom: 20%">
        <div class="container ">
            
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Get opportunities & advice in your inbox.</h2>
                <br> 
                </div>
                
                   <%= form_tag(new_user_registration_path, :method => "get") do %>
                            <div class="row" style="position:relative; margin-top:5%; width: 100%; padding: 2% 12% 2% 10%; height: 6em ">
                                <div class="col l4 s12 offset-l1" >
                                    <%= text_field_tag(:name , "", placeholder: "NAME",style: "font-size: 2em; 
                                    border-bottom: 3px solid #4dd0e1; padding: .2em 1em; width: 70% ", class:"cyan-text lighten-1" ) %>
                                </div>
                                
                                <div class="col l4 s12" >
                                    <%= text_field_tag(:email , "", placeholder: "EMAIL" ,style: "font-size: 2em; 
                                    border-bottom: 3px solid #4dd0e1; padding: .2em 1em; width: 70% ", class:"cyan-text lighten-1" ) %>
                                </div>
                              
                                
                                <div class="col l3 s12" >
                                    <%= submit_tag("Make money!", class: "waves-effect cyan btn whit-text lighten-1",
                                    style:"margin-top: .5em" ) %>
                                </div>
                            </div>
                            
                            </br>
                            <% end %>   
                            
                            
                            
                    <!--ABOUT US GIFS --> 
                    <div class="row" style="position:absolute ; margin-top: 8% ; ">
                         <div class="col l3 s12 offset-l1">
                            <h5> New job and internship openings at relevant & growing companies (all paid) </h5>
                            <img style=" max-height: 60%; width: 100%; overflow:hidden" src="https://media.giphy.com/media/h19XT0qdBgJj2/giphy.gif" > 
                        </div> 

                        
                        <div class="col l3 s12" >
                            <h5> Advice from black millennials who want to see you win </h5>
                            <img style="max-height: 60%; width: 100%; overflow:hidden" src="https://media.giphy.com/media/10HJ1jmwQKczio/giphy.gif" > 
                        </div>
                        
                        <div class="col l3 s12"> 
                            <h5> Kanye-Jay level digital mentor love (...pre 2014) </h5>
                            <img style=" max-height: 60%; width: 100%; overflow:hidden" src="https://media4.giphy.com/media/10PQN1dM2kfr2g/200.webp#7-grid1" > 
                        </div>
                    </div>
                
                                                
                            
                        
                        <a class="white-text" href="#features"> NEED A LIL MORE CONVINCING... </a>
                        
                   
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2 class="cyan-text lighten-1">Career Advice <br>
                        For Us, By Us </h2>
                        
                        <h5 class="text-muted"> You know that upperclassmen who somehow has a 3.9 and top internship, but finds time to bless you with advice? <br> 
                        Or that older cousin who shows up at the holidays and does the most, but who you can't hate on because they also plug you with opportunities? <br><br>
                        
                        <span class=" cyan-text lighten-1" >Well, Bloc is your newest, always accessible, mentor - </span><br>
                        leveraging insights from thousands of successful black millennials to help you play the game. <br><br>
    
                        So, think of Bloc an an extremely committed (if occassionaly corny) coach that is always in your corner... and that is powered by tech that blends the functionality of LinkedIn with the heart & soul of Black Twitter to guide you on your professional way. </h5>
                     
                       <%= form_tag(new_user_registration_path, :method => "get") do %>
                            <div class="row" style="position:relative; margin-top:-6%; width: 100%; padding: 1% 5% 1% 15%; height: 6em ">
                                <div class="col l4 s12" style="padding: 2%">
                                    <%= text_field_tag(:name , "", placeholder: "NAME",style: "font-size: 2em; 
                                    border-bottom: 3px solid #4dd0e1; padding: .2em 1em; width: 70% ", class:"cyan-text lighten-1" ) %>
                                </div>
                                
                                <div class="col l4 s12" style="padding: 2%">
                                    <%= text_field_tag(:email , "", placeholder: "EMAIL" ,style: "font-size: 2em; 
                                    border-bottom: 3px solid #4dd0e1; padding: .2em 1em; width: 70% ", class:"cyan-text lighten-1" ) %>
                                </div>
                              
                                
                                <div class="col l3 s12" style="padding: 2%">
                                    <%= submit_tag("Sign me up!", class: "waves-effect cyan btn whit-text lighten-1",
                                    style:"margin-top: .5em" ) %>
                                </div>
                            </div>
                            <% end %>   
                     
                      
                   
                        
                  
            </div>
            
            <%= render "welcome/events" %> 
            
            <div class="row">
                <div class="col-md-4">

                </div>
                
            </div>
        </div>
    </section>



    <section id="contact" class="contact bg-primary" >
        <div class="container">
            <h2> Reach out!</h2>
            <ul class="list-inline list-social">
                
                    <a href="mailto:info@jointhebloc.com"><h2 class="grey-text"> info@jointhebloc.com </a> </h2>
        
                
               
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2017 Our Bloc. All Rights Reserved.</p>
         
                <!--
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
                -->
            </ul>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/new-age.min.js"></script>

</body>

</html>

<script> 

$( document ).ready(function() {
    $('body').css('overflow','hidden');
    $('body').attr('scroll','no');
});
   
</script>
