<head>
<%= stylesheet_link_tag'application', :media => "all" %>
<script type="text/javascript" src='/jquery/jquery.min.js' >
<script type="text/javascript" src='/JavaScriptSpellCheck/include.js' > </script>
</head>

<body >
<input class="btn btn-large cyan white-text" style="position:fixed; padding:0% 5%" id="Button1" type="button" value="Print" onclick="window.print();" />

<div class="header_div"> 

<h5 class="center"> <%= best_in_place @resume, :name %></h5>

    <div class="row contact_row"> 
        <div class="col s4 center"> 
            <p><%= best_in_place @resume, :address, :place_holder => "Enter Your Physical Address" %>  </p>
        </div>
        <div class="col s4 center"> 
            <p><%= best_in_place @resume, :email, :place_holder => "Enter Your Email" %> </p>  
        </div>
        <div class="col s4 center"> 
            <p><%= best_in_place @resume, :phone, :place_holder => "Enter Your Phone" %> </p>  
        </div>
    </div>
</div>

<div class="education_section"> 
<h6 class="education_header">EDUCATION</h6> 
    <div class="row"> 
        <div class="col s8">
        <p id="academic_title" style="text-transform: uppercase; font-weight: 800"><%= best_in_place @academic_experience, :title , :data => {:typo => @academic_experience.typo_title}, :place_holder => "City University of New York" %></p>
      
        </div>
        
        <div class="col s4">
        <p style="font-weight: 800"><%= best_in_place @academic_experience, :dates , :place_holder => "Expected Graduation & Year" %></p>


        </div>
    </div>
    <p><%= best_in_place @academic_experience, :position , :place_holder => "Bachelors of Science in Computer Science" %></p>
    <p class="error cyan-text"> <%= @academic_experience.typo_title %> </p>
     
    <p><%= best_in_place @academic_experience, :detail2 , :place_holder => "Fill with Relevant Coursework" %></p>
    <p class="error"> <%= @academic_experience.typo_position %> </p>

</div>

<div class="work_section"> 
<h6 class="education_header">EXPERIENCE</h6> 
   <div class="row" style="margin-botton: -1%"> 
        <div class="col s8">
        <p class="academic_title" style="text-transform: uppercase; font-weight: 800"><%= best_in_place @work_experience, :title , :place_holder => "Your Most Recent Opportunity" %></p>
        </div>
        
        <div class="col s4">
        <p style="font-weight: 800"><%= best_in_place @work_experience, :dates , :place_holder => "Starting Month & Year - Present" %></p>
        </div>
    </div>
    
    <div class="row"> 
    <p><%= best_in_place @work_experience, :position , :place_holder => " XYZ Intern" %></p></ul>
    
    <p> &bull; <%= best_in_place @work_experience, :detail2 , :place_holder => "Your largest achievement in your role (quantify this however you can) " %></p>
    <p> &bull;  <%= best_in_place @work_experience, :detail3 , :place_holder => "Evidence of your ability to work in a team (or lead a team!)" %></p>
    <p> &bull; <%= best_in_place @work_experience, :detail4 , :place_holder => "Any tangible projects or publications that demonstrate your work" %></p>
    </div>
    
    <br> 

    <div class="row" style="margin-botton: -1%"> 
        <div class="col s8">
        <p class="academic_title" style="text-transform: uppercase; font-weight: 800"><%= best_in_place @work2_experience, :title , :place_holder => "Your Most Recent Opportunity" %></p>
        </div>
        
        <div class="col s4">
        <p style="font-weight: 800"><%= best_in_place @work2_experience, :dates , :place_holder => "Starting Month & Year - Ending Month & Year" %></p>
        </div>
    </div>
    
    <div class="row"> 
    <p class="academic_title" ><%= best_in_place @work2_experience, :position , :place_holder => "Marketing Intern" %></p></ul>
    
    <p> &bull; <%= best_in_place @work2_experience, :detail2 , :place_holder => "Your largest achievement in your role (quantify this however you can)" %></p>
    <p> &bull;  <%= best_in_place @work2_experience, :detail3 , :place_holder => "Evidence of your ability to work in a team (or lead a team!)" %></p>
    <p> &bull; <%= best_in_place @work2_experience, :detail4 , :place_holder => "Any tangible projects or publications that demonstrate your work" %></p>
    </div>
    
        <br> 

    <div class="row" style="margin-botton: -1%"> 
        <div class="col s8">
        <p class="academic_title" style="text-transform: uppercase; font-weight: 800"><%= best_in_place @academic_experience, :title , :place_holder => "Your Most Recent Opportunity" %></p>
        </div>
        
        <div class="col s4">
        <p style="font-weight: 800"><%= best_in_place @work_experience, :dates , :place_holder => "Starting Month & Year - Ending Month & Year" %></p>
        </div>
    </div>
    
    <div class="row"> 
    <p><%= best_in_place @work_experience, :position , :place_holder => "Marketing Intern" %></p></ul>
    
    <p> &bull; <%= best_in_place @work_experience, :detail2 , :place_holder => "Your largest achievement in your role (quantify this however you can)" %></p>
    <p> &bull;  <%= best_in_place @work_experience, :detail3 , :place_holder => "Evidence of your ability to work in a team (or lead a team!)" %></p>
    <p> &bull; <%= best_in_place @work_experience, :detail4 , :place_holder => "Any tangible projects or publications that demonstrate your work" %></p>
    </div>
    
</div>

<div class="leadership_section"> 
<h6 class="education_header">LEADERSHIP EXPERIENCE</h6> 
    <div class="row" style="margin-botton: -1%"> 
        <div class="col s8">
        <p style="text-transform: uppercase; font-weight: 800"><%= best_in_place @leadership_experience, :title , :place_holder => "Your Most Significant Campus Leadership Role" %></p>
        </div>
        
        <div class="col s4">
        <p style="font-weight: 800"><%= best_in_place @leadership_experience, :dates , :place_holder => "Starting Month & Year - Ending Month & Year" %></p>
        </div>
    </div>
    
    <div class="row"> 
    <p><%= best_in_place @leadership_experience, :position , :place_holder => "Student Organization President" %></p></ul>
    
    <p> &bull; <%= best_in_place @leadership_experience, :detail2 , :place_holder => "Your largest achievement in your role (quantify this however you can)" %></p>
    <p> &bull;  <%= best_in_place @leadership_experience, :detail3 , :place_holder => "Evidence of your ability to work in a team (or lead a team!)" %></p>
    <p> &bull; <%= best_in_place @leadership_experience, :detail4 , :place_holder => "Any tangible projects or publications that demonstrate your work" %></p>
    </div>
</div>

<div class="skills_section"> 
<h6 class="education_header">Skills</h6> 
    
    <p> <span style="font-weight:800"> LANGUAGE SKILLS </span><%= best_in_place @resume, :languageskills, :place_holder => "First Language (Conversational), Second Language (Fluent)" %></p>
    <p> <span style="font-weight:800"> COMPUTER SKILLS </span><%= best_in_place @resume, :computerskills, :place_holder => "Technical Skills (Not Incuding Microsoft Word)" %></p>

    
   
</div>


</div>

</body>

<script>
      $('.best_in_place').best_in_place();
      
      $('body').spellAsYouType();
      $('#myTextArea').spellCheckInDialog();
      
    $('#academic_title').bind("ajax:success", function (data){
        console.log(JSON.stringify(data));
        $(this).append("did you mean this?" + data); 
    });

</script>

<style> 
    body{
        margin-left: 10%;
        width: 80%;
        border: 1px rgba(0, 0, 255, .2) solid;
        box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
        height: 160%;
    }
    body, h5, p, h6 {
        font-family: "Times New Roman" !important;
    
    }
    
    
    ul{
        list-style-type: circle;
        margin: -.1%;
    }
    body{
        padding: 7%;
    } 
    p {
        font-size: 11px;
        margin: .5%;
    }
    
    h5, h6 {
        text-transform: uppercase;
        font-weight: strong ; 
    }
    h6{ 
        font-size: 14px;
    }
    h5{ 
        margin-top: 5%;
        size: 30px;
    }
    .row{
        padding: 0;
        margin: 0;
    }
    
    .education_header{ 
        width: 100%;
        border-bottom: 1px solid black;
    }
}
        
    
@media print {
    
    body, h5, p, h6 {
        -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
        font-family: "Times New Roman" !important;
        text-align: left;
        
    }
    ul{
        list-style-type: circle;
        margin: -.1%;
    }
    body{
        padding: 7%;
    } 
    p {
        font-size: 11px;
        margin: .5%;
    }
    
    h5, h6 {
        text-transform: uppercase;
        font-weight: strong ; 
        text-align: left;
        left: -20em;
    }
    h6{ 
        font-size: 14px;
    }
    h5{ 
        margin-top: 5%;
        size: 25px;
    }
    .error{
        
    }
    input::placeholder {
           color: blue !important;
       }
    input::-webkit-input-placeholder {
           color:black;
       }
    .row{
        padding: 0;
        margin: 0;
    }
    .btn ,.btn-large {
        padding: 0% 5% !important;
    }
    
    .education_header{ 
        width: 100%;
        border-bottom: 1px solid black;
}
        } 
</style>

<style type="text/css" media="print">
        @page 
        {
            size: auto;   /* auto is the current printer page size */
            margin: 0mm;  /* this affects the margin in the printer settings */
        }

        body 
        {
            width: 100%;
            height: 100%;
            background-color:#FFFFFF; 
            border: none;
            margin: 0px;  /* the margin on the content before printing */
            text-align: left;
            left: 5%;
       }
       ::placeholder {
           color:white;
       }
       input::-webkit-input-placeholder {
           color:white;
       }
        .btn {
           display: none;
       }
       .error{
           display:none;
       }
       
       .education_header{
           margin: 2% 0%;
           text-align: left; 
       }
    </style>