
  
  <div id="quiz"> 
        <section id="info_section"> 
                     <div class=row> 
                        <div class="col s12 l12">
                             <h5> Resume info part 1...</h5>
                        </div> 
                        
                        <div class="col s12 l12">
                   
                              Your Name <%= text_field_tag :name , params[:name]  %>
                              Email  <%= text_field_tag :email , params[:email]  %>
                              School <%= text_field_tag :school , params[:school]  %>
                              Major <%= text_field_tag :major , params[:major]  %>
                              Class Year <%= text_field_tag :gradyear , params[:gradyear]  %>

                         </div> 
                         </div>
                         
                         <div class="hide_section btn btn-large cyan lighten-1" id="info" > Next <div> 
        </section>   
      
    </div> 
  
  
