  
  
  <h5 style="margin-top: 10%"> Your Resume Template </h5> 
    <%= render "search_engine/resumebuilder" %> 
    
    
  <h5 style="margin-top: 10%"> More Resources </h5> 

  <div class="row">
        <div class="col s12 l4">
          <div class="card">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/175696/pexels-photo-175696.jpeg?h=350&auto=compress&cs=tinysrgb">
              <span class="card-title white-text strong">Use this cover letter template</span>
            </div>
            <div class="card-content">
              <p>This template is clean, vetted by Wharton's career services team, and shows you how to quantify your past experience and format your experience</p>
            </div>
            <div class="card-action">
              <a href="#">Download it now</a>
            </div>
          </div>
        </div>
        
          <div class="col s12 l4">
          <div class="card">
            <div class="card-image">
              <img src="https://static.pexels.com/photos/167528/pexels-photo-167528.jpeg">
              <span class="card-title white-text">Interview Questions you need to know</span>
            </div>
            <div class="card-content">
              <p> Your network is your network...use these email templates to get the plug from an alum, professor, 
              mentor and friend. 
              </p>
            </div>
            <div class="card-action">
              <a href="#">Download it now</a>
            </div>
          </div>
        </div>
     
        <div class="col s12 l4">
          <div class="card">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/47224/pexels-photo-47224.jpeg?h=350&auto=compress&cs=tinysrgb">
              <span class="card-title white-text">Leverage Your Network</span>
            </div>
            <div class="card-content">
              <p>This is the ultimate informational resume template</p>
            </div>
            <div class="card-action">
              <a href="#">Download it now</a>
            </div>
          </div>
        </div>
      </div>
      
  
      
      
      
  <h5> You can easily apply for these jobs too... </h5>

  <% @jobs.each do |job| %> 
         <h5> <%= job.title %> </h5>
         
      <% end %> 
      
  <%  @indeed_results[0...5].each do |job| %>
      
        <p><%= link_to job.job_title + " @ " + job.company , job.url  , :class => "cyan-text lighten-1" %> </p>
              
         
    <% end %> 
              
  <h5> More Career Advice ... </h5>
      <% @tips.each do |tip| %> 
         <h5> <%= tip.title %> </h5>
      <% end %> 

    <%  @musedata[0...5].each do |tip| %> 
          <p style="color:#4dd0e1"> <%= link_to tip["name"] , "https://www.themuse.com/advice/"+ tip["short_name"].to_s , :style => "color:#4dd0e1" %> </p>
                  

        <% end %> 
       