
<%= semantic_form_for @rsvp do |f| %>
<div class="new_rsvp"> 
  <%= f.inputs do %>
  <div class="rsvp_contact"> 
      <div class="rsvp-input"> 
        <%= f.label :name  %>
        <%= f.text_field :name, class:"cyan-text" %>
        </div>
      
      <div class="rsvp-input"> 
        <%= f.label :email %>
        <%= f.text_field :email, class:"cyan-text lighten-1" %>
      </div> 
      
        
      <div class="rsvp-input"> 
        <%= f.label :school %>
        <%= f.text_field :school, class:"cyan-text lighten-1" %>
        </div>
      
      <div class="rsvp-input"> 
          <%= f.label :major %>
          <%= f.text_field :major, class:"cyan-text lighten-1" %>
      </div>
  </div>
  
  
  <div class="rsvp_choices"> 
      <div class="field">
          <%= f.label "Which industry roundtable would you want to join?" %>
          <%= f.hidden_field :breakout , :id =>"field_tipindustry" %>
          
          <div class="tip_industry btn waves-effect white cyan-text lighten-1" id="Griots"> Griots </div>
          <div class="tip_industry btn waves-effect white cyan-text lighten-1" id="Techies"> Techies </div>
          <div class="tip_industry btn waves-effect white cyan-text lighten-1" id="Scientists"> Scientists </div>
          <div class="tip_industry btn waves-effect white cyan-text lighten-1" id="CSuite"> CSuite </div>
          <div class="tip_industry btn waves-effect white cyan-text lighten-1" id="Educators"> Educators </div>
          <div class="tip_industry btn waves-effect white cyan-text lighten-1" id="Activists"> Activists </div>
          <div class="tip_industry btn waves-effect white cyan-text lighten-1" id="Advocates"> Advocates </div>
          <div class="tip_industry btn waves-effect white cyan-text lighten-1" id="Entrepreneurs"> Entrepreneurs </div>
          <div class="tip_industry btn waves-effect white cyan-text lighten-1" id="Creatives"> Creatives </div>
        </div>
          
        
        <div class="field">
          <%= f.label "What's your second choice?" %>
          <%= f.hidden_field :breakout2 , :id =>"field_tipindustry2" %>
          
          <div class="tip_industry2 btn waves-effect white cyan-text lighten-1" id="Griots"> Griots </div>
          <div class="tip_industry2 btn waves-effect white cyan-text lighten-1" id="Techies"> Techies </div>
          <div class="tip_industry2 btn waves-effect white cyan-text lighten-1" id="Scientists"> Scientists </div>
          <div class="tip_industry2 btn waves-effect white cyan-text lighten-1" id="CSuite"> CSuite </div>
          <div class="tip_industry2 btn waves-effect white cyan-text lighten-1" id="Educators"> Educators </div>
          <div class="tip_industry2 btn waves-effect white cyan-text lighten-1" id="Activists"> Activists </div>
          <div class="tip_industry2 btn waves-effect white cyan-text lighten-1" id="Advocates"> Advocates </div>
          <div class="tip_industry2 btn waves-effect white cyan-text lighten-1" id="Entrepreneurs"> Entrepreneurs </div>
          <div class="tip_industry2 btn waves-effect white cyan-text lighten-1" id="Creatives"> Creatives </div>
        </div>
      <div class="field"> 
          <%= f.label "Have any plans for grad school?" %>
          <%= f.hidden_field :gradschool , :id =>"field_tipgrad" %>
      
        <div class="grad_button btn waves-effect white cyan-text lighten-1" id="None"> Nope </div>
          <div class="tip_grad btn waves-effect white cyan-text lighten-1" id="Maybe"> Maybe </div>
          <div class="tip_grad btn waves-effect white cyan-text lighten-1" id="Master's Program"> Masters Program </div>
          <div class="tip_grad btn waves-effect white cyan-text lighten-1" id="PhD Program"> PhD Program </div>
          <div class="tip_grad btn waves-effect white cyan-text lighten-1" id="Law School"> Law School </div>
          <div class="tip_grad btn waves-effect white cyan-text lighten-1" id="Med School"> Med School </div>
          <div class="tip_grad btn waves-effect white cyan-text lighten-1" id="Business School"> Business School </div>
      </div>
      
      <div class ="field"> 
          <%= f.label "What is your class (graduation) year? " %>
          <%= f.hidden_field :gradyear , :id =>"field_tipgradyear" %>
      
        <div class="grad_button btn waves-effect white cyan-text lighten-1" id="2020"> 2020 </div>
          <div class="tip_gradyear btn waves-effect white cyan-text lighten-1" id="2019"> 2019 </div>
          <div class="tip_gradyear btn waves-effect white cyan-text lighten-1" id="2018"> 2018</div>
          <div class="tip_gradyear btn waves-effect white cyan-text lighten-1" id="2017"> 2017 </div>
          <div class="tip_gradyear btn waves-effect white cyan-text lighten-1" id="Alum"> Alum </div>
          <div class="tip_gradyear btn waves-effect white cyan-text lighten-1" id="Highschool"> Highschool </div>
      
      </div>
      
      <div class ="field"> 
          <%= f.label "What are your preferred personal pronouns? " %>
          <%= f.hidden_field :pronouns , :id =>"field_tipforemail" %>
      
          <div class="tip_for_email btn waves-effect white cyan-text lighten-1" id="true"> They, Their, Theirs </div>
          <div class="tip_for_email btn waves-effect white cyan-text lighten-1" id="false"> She, Her, Hers </div>
          <div class="tip_for_email btn waves-effect white cyan-text lighten-1" id="false"> He, Him, His </div>
         
      </div>
      
       <div class="rsvp-input"> 
          <%= f.label "Any accessibility needs we should be aware of?" %>
          <%= f.text_area :access, class:"cyan-text lighten-1" %>
        </div> 
      
      <div class ="field"> 
          <%= f.label "What is your largest career struggle right now?" %>
          <%= f.hidden_field :prep , :id =>"field_tipprep" %>
      
          <div id="revise_resume" class="tip_prep btn waves-effect white cyan-text lighten-1"> Resumes </div>
          <div id="need_connections" class="tip_prep btn waves-effect white cyan-text lighten-1"> Hearing Back </div>
          <div id="need_jobs" class="tip_prep btn waves-effect white cyan-text lighten-1"> Finding Opportunities </div>
          <div id="cover_letters" class="tip_prep btn waves-effect white cyan-text lighten-1"> Cover letters </div>
          <div id="personal_statements" class="tip_prep btn waves-effect white cyan-text lighten-1"> Personal Statements </div>
          <div id="salary_negotiation" class="tip_prep btn waves-effect white cyan-text lighten-1"> Salary Negotiation </div>
        </div>
    </div> 
    
  

<div class="center-align"> 
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
          data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
          data-description="Almost there!"
          data-amount="<%= params[:price] %>" %> 
          data-email=" "
          data-locale="auto"> 
    </script>
 </div>

    
</div>

  <% end %>
  
<% end %>


<style> 
.rsvp-input{
  margin: 5%;
}

.field{
  margin: 1% 5%;
}
.rsvp-input input {
  color: teal;
}
</style>

<script>
  $('.tip_grad').click(function(){
      var idval = $(this).attr("id");
      console.log(idval);
          
      $('#field_tipgrad').val(idval);
            
  });
  
   $('.tip_gradyear').click(function(){
      var idval = $(this).attr("id");
      console.log(idval);
          
      $('#field_tipgradyear').val(idval);
  });
  
  
   $('.tip_for_email').click(function(){
      var idval = $(this).attr("id");
      console.log(idval);
          
      $('#field_tipforemail').val(idval);
  });
  
    $('.tip_prep').click(function(){
      var idval = $(this).attr("id");
      console.log(idval);
          
      $('#field_tipprep').val(idval);
            
  });

$('.tip_industry').click(function(){
      var idval = $(this).attr("id");
      console.log(idval);
          
      $('#field_tipindustry').val(idval);
            
  });
  
  $(".field div").click(function(){
    $(this).css ({
      'border' : "5px solid yellow" });
    });
    
$('.tip_industry2').click(function(){
      var idval = $(this).attr("id");
      console.log(idval);
          
      $('#field_tipindustry2').val(idval);
            
  });
  
  $(".field div").click(function(){
    $(this).css ({
      'border' : "5px solid yellow" });
    });

  
</script>