<!-- 
<nav>
    <div class="nav-wrapper white  text-black">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>-->
  
<div class="jobs_card">


  <% @jobs.each do |job| %>
  <div class="row">
        <div class="col s12 m6">
            <div class="card white">
            <div class="card-content teal-text">
              <span class="card-title"><%=  link_to job.title, job_path(job) %></span>
              <p><%= job.description %></p>
              <td><%= job.created_at.strftime("%m/%d/%y") %></td>
              <button class="save"> Save as favorite</button>

              
          <%= form_tag do %>
              <%= hidden_field_tag(:saved, true) %>
          <% end %>
              
            </div>
          </div>
        </div>
      </div>
  <% end %>
 
</div>

<style>
a{
  color: teal;
}
p{
  color: grey;
}
a:hover{
background-color: white;
color: grey;
}

.jobs_card{
  left: 25%;
  position: absolute;
  width: 70%;
}

#like_button{
  align:right;
}

</style>


<script>
  $('.save').click(function()
    $(this).css('color':'black');
    $('input #job_saved').submit();
  )};
</script>