<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New user: <%= @user.name %></h1>
    <h2> email: <%= @user.email %> </h2>
    <h2> count: <%= @user.hometown %> </h2>
    <h2> count: <%= @user.industry %> </h2>
    <h2> count: <%= @user.prep %> </h2>
    <h2> count: <%= @user.style %> </h2>
    <h2> count: <%= @user.gradschool %> </h2>
    <h2> count: <%= @user.firstjob %> </h2>
    <h2> referred by: <%= @user.referral_code %> </h2>

  </body>
</html>

<style> 

html{
color:teal;
font-family: Arial;
}
</style>