
<!-- PERSONALITY RESULT --> 
     
     
<!-- TEN influencerS --> 
  <div id="stories"></div>
  <%= render 'university/partials/search_success' %> 
    <% if @influencers != nil %> 
        <%  @influencers.each do |influencer| %>
            <% if current_user.industry == influencer.industry or (current_user.industry == influencer.industry and current_user.style == influencer.style)%> 
            <div class=" col s12 l4" style="padding: .5%" >
            <div class="card horizontal" style="width: 100%">
                <div class="card-content grey-text influencer_content">
                        <img src="<%= influencer.image%>" class="circle influencer_image" >
                        <h4 id="influencer_title"><%= link_to influencer.name.upcase , influencer_path(influencer.id) , class: "grey-text influencer_title" %></h4>
                        <p id="influencer_company"><%= influencer.description %></p>
                        
                        
                          <% if influencer.industry != nil %> <div class="teal-text"> <%= influencer.industry.upcase %>  </div> <% end %> 
                          <% if influencer.grad != nil %><div class="teal-text"> <%= influencer.grad.upcase%> </div> <% end %> 
                          <% if influencer.gradyear != nil %><div class="teal-text"> <%= influencer.gradyear.upcase %> </div> <% end %> 
                </div>
              </div>
            </div>
            <% end %>
      <% end %> 
    <% end %> 
