
<!-- TEN TIPS --> 
  <div id="tips_grad"></div>
  <%= render 'university/partials/search' %> 

    <% if @tips != nil %> 
        <%  @tips.each do |tip| %>
        <% if current_user.prep == tip.prep or (current_user.prep == tip.prep and current_user.gradyear == tip.gradyear)%> 
            <div class=" col s12 l4" style="padding: .5%" >
              <div class="card horizontal" style="width: 100%"> 
              <div class="card-content grey-text">
                      <h4 id="tip_title"><a class="grey-text" href="<%= tip_path(tip.id) %>"> <%=truncate(tip.title.upcase, :length => 50) %> </a> </h4>
                      <p id="tip_company"><%= truncate(tip.body, :length => 140) %></p>
                      
                      <br> 
                      
                      <div class="tags">
                      <% if tip.industry != nil %> <div class="teal-text"> <%= tip.industry.upcase %>  </div> <% end %> 
                      <% if tip.prep != nil %><div class="teal-text"> <%= tip.prep.upcase.gsub("_", "  ") %> </div> <% end %> 
                      <% if tip.grad != nil %><div class="teal-text"> <%= tip.grad.upcase%> </div> <% end %> 
                      <% if tip.gradyear != nil %><div class="teal-text"> <%= tip.gradyear.upcase %> </div> <% end %> 
                      </div>
                      
                  
                  <div class="tip_like"> 
                      <% if current_user.likes?(tip) == false %> 
                          <%= link_to '<i class="fa fa-heart fa-2x"></i>' .html_safe, like_tip_path(tip.id) , :method => :put %> 
                      <% else %> 
                          <%= link_to '<i class="fa fa-heart-o fa-2x"></i>' .html_safe, unlike_tip_path(tip.id) , :method => :put %>
                      <% end %> 
                    </div>
                      
              </div>
            </div>
            </div> 
            
        <% end %> 
        <% end %>
    <% end %> 
 
