<%= form_for(vision) do |f| %>
  <% if vision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vision.errors.count, "error") %> prohibited this vision from being saved:</h2>

      <ul>
      <% vision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :industry %>
    <%= f.text_field :industry %>
  </div>

  <div class="field">
    <%= f.label :ten %>
    <%= f.text_field :ten %>
  </div>

  <div class="field">
    <%= f.label :dreamjob %>
    <%= f.text_field :dreamjob %>
  </div>

  <div class="field">
    <%= f.label :style %>
    <%= f.text_area :style %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
