

<!-- INDUSTRY PORTION OF QUIZ --> 
<%= form_for(@vision) do |f| %>

<section class="white"> 
<h5 id="industry_section"  style="color:teal"> WHO'S ON YOUR TEAM? </h5>
  <div class="industry" id="industry">
    
    <%= f.hidden_field :industry, :id => "field_industry" %>

    <img id="pic_griots" value"Griots" src="http://www.ourbloc.co/uploads/2/4/0/1/24014742/1_7_orig.png" class="form_pic col-md-4"> 
  
    <img id="pic_techies" src ="http://www.ourbloc.co/uploads/2/4/0/1/24014742/4_1_orig.png" class="form_pic">

    <img id="pic_scientists" src ="http://www.ourbloc.co/uploads/2/4/0/1/24014742/7_orig.png" class="form_pic">

    <img id="pic_csuite" src ="http://www.ourbloc.co/uploads/2/4/0/1/24014742/5_orig.png" class="form_pic">

    <img id="pic_educators" src ="http://www.ourbloc.co/uploads/2/4/0/1/24014742/2_4_orig.png" class="form_pic">

    <img id="pic_changers" src ="http://www.ourbloc.co/uploads/2/4/0/1/24014742/3_orig.png" class="form_pic">

    <img id="pic_makers" src ="http://www.ourbloc.co/uploads/2/4/0/1/24014742/6_orig.png" class="form_pic">
<div> 
</section>
<!-- end industry portion of quiz --> 



<!-- DREAM JOB PORTION OF QUIZ --> 
<section>
<div id="dreamjob">
<div id="dream_section">
    <%= f.label "What is your dream first job? ", :style => "color:teal" %>
    <%= f.text_field :firstjob ,:id => "field_firstjob", :value => " " %>
   
    <div id="submit_firstjob" class="white-text btn waves-effect waves-light"> Next Job </div> 

</div>
</div>
</section>
<!-- end dream job portion of quiz --> 




<!-- STYLE PORTION OF QUIZ --> 
<section class="white"> 
<div class="style" id="style">
    <h5> WHO IS YOUR DREAM MENTOR? </h5>
    
    <%= f.hidden_field :style ,:id => "field_style" %>

    <img id="pic_olivia" src ="https://media1.popsugar-assets.com/files/thumbor/Dxm6nPdGeW51cBEPGJhst0j4QRM/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2014/09/25/775/n/1922283/417e9e397005660b_olivia-pope-options/i/When-She-Absolutely-Fearless.gif" class="style_pic">
  
    <img id="pic_earn" src ="http://ww2.kqed.org/pop/wp-content/uploads/sites/12/2016/10/glover.gif" class="style_pic"> 

    <img id="pic_jackson" src ="https://media.giphy.com/media/sA34qgVDgXFQY/giphy.gif" class="style_pic"> 

    <img id="pic_issa" src ="https://media.giphy.com/media/26tjZjCi41r0cVsKQ/giphy.gif" class="style_pic">
  </div>
  
</section>
<!-- end style portion of quiz --> 


<!-- prep section -->
<section id="prep_head">
 <h5 style="margin-top: 20%;color:teal"> WHAT ARE YOU STRUGGLING WITH? </h5>
    <div id="prep_section" > 
    
    <%= f.hidden_field :prep, :id => "field_prep" %> 

    
    <% link_to "Starting Resume", vision_path(@vision), :id =>"need_resume", :class => "prep_button white-text btn waves-effect waves-light" %>
  
    <a href="/jobs" id="revise_resume" class="prep_button white-text btn waves-effect waves-light"> Getting my resume together </a></button>
    
    <a href="/jobs" id="need_connections" class="prep_button white-text btn waves-effect waves-light"> Getting responses on my current apps </a></button>

    <a href="/jobs" id="need_jobs" class="prep_button white-text btn waves-effect waves-light"> Finding internships I actually care about </a></button>

    <a href="/jobs" id="cover_letters" class="prep_button white-text btn waves-effect waves-light"> Damn coverletters </a></button>


   </div>
   </section>
   
   <%= f.submit %> 
  
<% end %>




<script>

//SCRIPT FOR DREAM JOB

 $("#submit_firstjob").click(function(){
    $('html,body').animate({
            scrollTop: $("#style").offset().top},
            'slow');
 });
   
//SCRIPT FOR INDUSTRY SECTION OF QUIZ
    $('#pic_griots').click(function(){
        $(this).css({
        'border': '4px solid yellow'
        }); 
        
        $("#field_industry").val("Griots");
        
        $(this).siblings().css({
            'border': '4px solid white'
            }); 
            
        $('html,body').animate({
            scrollTop: $("#dreamjob").offset().top},
            'slow');
    });
    
     $('#pic_techies').click(function(){
        $(this).css({
        'border': '4px solid yellow'
        }); 
       
        $('#field_industry').val("Techies") ;
        $(this).siblings().css({
            'border': '4px solid white'
            }); 
        
        $('html,body').animate({
            scrollTop: $("#dreamjob").offset().top},
            'slow');
    });
    
    $('#pic_scientists').click(function(){
        $(this).css({
        'border': '4px solid yellow'
        }); 
       
        $('#field_industry').val("Scientists") ;
        $(this).siblings().css({
            'border': '4px solid white'
            }); 
        $('html,body').animate({
            scrollTop: $("#dreamjob").offset().top},
            'slow');


    });
        
    $('#pic_csuite').click(function(){
        $(this).css({
        'border': '4px solid yellow'
        }); 
       
        $('#field_industry').val("CSuite") ;
        $(this).siblings().css({
            'border': '4px solid white'
            }); 
        $('html,body').animate({
            scrollTop: $("#dreamjob").offset().top},
            'slow');
    });
    
    
    $('#pic_educators').click(function(){
        $(this).css({
        'border': '4px solid yellow'
        }); 
       
        $('#field_industry').val("Educators") ;
        $(this).siblings().css({
            'border': '4px solid white'
            }); 
     $('html,body').animate({
            scrollTop: $("#dreamjob").offset().top},
            'slow');
    });
    
    $('#pic_changers').click(function(){
        $(this).css({
        'border': '4px solid yellow'
        }); 
       
        $('#field_industry').val("Activists") ;
        $(this).siblings().css({
            'border': '4px solid white'
            }); 
        $('html,body').animate({
            scrollTop: $("#dreamjob").offset().top},
            'slow');
    

    });
    
    $('#pic_makers').click(function(){
        $(this).css({
        'border': '4px solid yellow'
        }); 
       
        $('#field_industry').val("Advocates") ;
        $(this).siblings().css({
            'border': '4px solid white'
            }); 
        $('html,body').animate({
            scrollTop: $("#dreamjob").offset().top},
            'slow');
    });
    
    
//SCRIPT FOR STYLE  SECTION OF QUIZ    
     $('#pic_olivia').click(function(){
        $(this).css({
        'border': '4px solid yellow'
        }); 
       
        $('#field_style').val("Olivia") ;
        $(this).siblings().css({
            'border': '4px solid white'
            }); 
        $('html,body').animate({
            scrollTop: $("#prep_head").offset().top},
            'slow');


     }); 
        
        $('#pic_earn').click(function(){
            $(this).css({
            'border': '4px solid yellow'
            }); 
           
            $('#field_style').val("Earn") ;
            $(this).siblings().css({
                'border': '4px solid white'
                }); 
         $('html,body').animate({
            scrollTop: $("#prep_head").offset().top},
            'slow');

        }); 
        
        $('#pic_jackson').click(function(){
            $(this).css({
            'border': '4px solid yellow'
            }); 
           
            $('#field_style').val("Jackson") ;
            $(this).siblings().css({
                'border': '4px solid white'
                }); 
        $('html,body').animate({
            scrollTop: $("#prep_head").offset().top},
            'slow');
        }); 
            
    $('#pic_issa').click(function(){
            $(this).css({
            'border': '4px solid yellow'
            }); 
           
            $('#field_style').val("Issa") ;
            $(this).siblings().css({
                'border': '4px solid white'
                }); 
            $('html,body').animate({
            scrollTop: $("#prep_head").offset().top},
            'slow');
    });
    
// SUBMIT FORM AFTER CHOOSING PREP 
     $('#need_resume').click(function(){
            $(this).css({
            'border': '4px solid yellow'
            }); 
           
            $('#field_prep').val("Need_Resume");
            
            $(this).siblings().css({
                'border': 'none'
                }); 
            $("form").submit();
        }); 
        
     $('#revise_resume').click(function(){
            $(this).css({
            'border': '4px solid yellow'
            }); 
           
            $('#field_prep').val("Revise_Resume") ;
            $(this).siblings().css({
                'border': 'none'
                }); 
            $("form").submit();
        }); 
        
         $('#need_connections').click(function(){
            $(this).css({
            'border': '4px solid yellow'
            }); 
           
            $('#field_prep').val("Need_Connections") ;
            $(this).siblings().css({
                'border': 'none'
                }); 
            $("form").submit();
        }); 
         $('#need_jobs').click(function(){
            $(this).css({
            'border': '4px solid yellow'
            }); 
           
            $('#field_prep').val("Need_Jobs") ;
            $(this).siblings().css({
                'border': 'none'
                }); 
            $("form").submit();
        }); 
        
        $('#cover_letters').click(function(){
            $(this).css({
            'border': '4px solid yellow'
            }); 
           
            $('#field_prep').val("Cover_Letters") ;
            $(this).siblings().css({
                'border': 'none'
                }); 
            $("form").submit();
        }); 
</script>






<style> 

html{
    height: 100%;
    padding: 10%;
    font-size: 3em;
}
h5{
    color: teal;
    width: 70%;
}

.form_pic{
    width: 10%;
    margin: 1%;
    border: 4px solid white;
    background-color: white;
}

.form_pic:hover {
    width: 10%;
    margin: 1%;
    border: 4px solid teal;
    background-color: white;
}

.style_pic{
    width: 20%;
    margin: 1%;
    border: 4px solid white;
    background-color: white;
}

.style_pic:hover{
    width: 20%;
    height: 15%;
    margin: 1%;
    border: 4px solid teal;
    background-color: white;
}

.industry{
  padding-top: 5%;
  padding-bottom: 10%;
    width: 100%;
    left: 100%;
    
}
table{
    padding:0%;
}

td{
    margin: ;
}
.industry a:hover {
    background-color: white;
}

#firstbutton{
    margin-bottom: 100%;
}

body {
	background: url("http://www.ourbloc.co/uploads/2/4/0/1/24014742/coffee_orig.jpg") no-repeat center center fixed;
	margin: 0 auto;
	background-size: cover;
	width: 100%;
	height: 100%;
	font-family: "Montserrat";
	}
	
#vision-header{
    top: 1%;
    font-size: 6em;
    font-family: "Montserrat";
    color: teal;
    margin-bottom:0%;
    
}

#dreamjob{
    padding-top: 30%;
    border-radius: 3em;
	}
	



#nextbutton{
     margin-bottom: 40%;
    }

#dreamjob input{
   color: white;
}

.white {
    position: relative;
    background-color: white;
    width: 150%;
    left: -15%;
    
}
section {
    padding: 10% 10% 50% 10%;

}

#prep_section{
    margin-top: 10%;
}

a:hover {
    background-color: white;
}

.style{
    padding: -10%;
}

.prep_button{
    padding-left: 2%;
    padding-right: 2%;
    width: 40%;
    margin: 1%;
}
@media only screen and (max-device-width: 480px){
    html{
        font-size: 4em;
        line-height: 5em;
    }
    .form_pic{
        width: 47%;
        margin: 1%;
        border: 4px solid teal;
        background-color: white;
    }
    
    #firstbutton{
        width: 70%;
        padding: 10%;
        height: 15%;
        font-size: 4em;
        border-radius: 3em;
    }
    
    #nextbutton{
       padding-bottom: 100%;
    }

#prep_section button{
    margin: 5%;
}

#prep_section button{
    color: white;
}

