<!-- landing page/copy --> 
<body>
<script> 
       $(document).ready(function() {
         
      $.ajaxSetup({ cache: true });
      //init facebook
      $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
        FB.init({
          appId: '405857709752176',
          version: 'v2.7' // or v2.1, v2.2, v2.3, ...
        });    
        $(document).trigger('fbload');
      });
    }); 
      
      
  $(document).on(
    'fbload',  //  <---- HERE'S OUR CUSTOM EVENT BEING LISTENED FOR
    function(){
        //some code that requires the FB object
        //such as...
        FB.getLoginStatus(function(res){
            if( res.status == "connected" ){
                FB.api('/me?fields=email,picture,name,first_name,gender,locale,timezone,age_range,education', function(fbUser) {
                    var profilepic= fbUser.picture.data.url;
                    
                    $('#field_username').val(fbUser.name); 
                    console.log(fbUser.name)
                    console.log(fbUser.education)

                    $('#field_email').val(fbUser.email); 
                    $('#field_image').val(profilepic); 
                    $('#field_timezone').val(fbUser.timezone); 
                    $('#field_gender').val(fbUser.gender); 
                    $('#field_age').val(fbUser.age_range.min);

                    

                    
                });
            }
        });

    }
);
  </script> 
    <div id="background-filter">
        <h2 id="core-head"> YOU HAVE THE DREAM, NOW IT'S TIME TO MAKE IT HAPPEN</h2>

    
    </div>
<!-- end lander--> 


<%= form_for(@vision) do |f| %>

    <%= f.hidden_field :username, :id => "field_username" %> 
    <%= f.hidden_field :image, :id => "field_image" %> 
    <%= f.hidden_field :email, :id => "field_email" %> 
    <%= f.hidden_field :gender, :id => "field_gender" %> 
    <%= f.hidden_field :age, :id => "field_age" %> 
    <%= f.hidden_field :timezone, :id => "field_timezone" %> 



    <%= f.hidden_field :industry , :value => "" %>
    <%= f.hidden_field :firstjob, :value => "" %>
    <%= f.hidden_field :style , :value => "" %>
    <%= f.hidden_field :prep , :value => "" %> 
    
    
      <%= f.submit 'get your playlist', :class => "new_vision" %>

<% end %>

</body>
</html>




<style>
  body {
	background: url("http://www.ourbloc.co/uploads/2/4/0/1/24014742/ilike_orig.jpg") no-repeat center center fixed;
	margin: 0 auto;
	background-size: cover;
	width: 100%;
	height: 100%;
	font-family: Montserrat;
	}
	
.new_vision{
    position: absolute;
    left: 9%;
    top: 60%;
    width: 60%;
    height: 35%;
    font-size: 2em;
    color: teal;
}

.core-menu{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
}

.core-bloc{
    background-color: white;
    font-size: 4.5em;
    font-family: Montserrat;
    font-weight: bold;
    height: 5em;
    opacity: .8;
    padding: 15% 10%;
}

#core-head{
    color: white;
    line-height: 1.2;
    top: 5%;
    font-size: 5em;
    padding: 8% 15% 0% 15%;
    font-family: Montserrat;
    width: 80%;
}

core-bloc ul {
    height: 5em;
}

.core-bloc:hover {
    background-color: grey;
}
  
  ul  {
    color:black;
    line-height: 1.2;
  }
  
  #start_button{
    position:relative;
    left: 50%;
    color: white;
    height: 17%;
    font-size: 4em;
    line-height: 1.2;
    border: .1em solid white;
  }
  
  #background-filter{
  position: absolute;
  background-color:black;
  opacity: .85;
  width: 100%;
  height: 100%;
}

#start_button:hover{
    background-color:grey;
}

 @media only screen and (max-device-width: 480px){
   html,body{
     width: 100%;
     height: 100%;
   }
   #core_head{
     position:fixed;
     top: 20%;
     width: 90%;
     margin: 10% 2%;
     padding: 0%;
   }
   .new_vision{
      position: absolute;
      background-color: inherit;
      left: 9%;
      top: 45%;
      width: 80%;
      height: 35%;
      font-size: 2em;
      color: teal;
   }
   
   .new_vision:hover{
       background-color: grey;
   }
 }
 
 
  
  
  
</style>
