<!-- landing page/copy --> 
    
    <h2 id="core-head"> YOU CAN HAVE A THE CAREER THAT YOU CARE ABOUT AND PAYS THE BILLS</h2>
       <button id="start_button"class=" white-text btn waves-effect waves-light "> 
       <%= link_to "GET STARTED", edit_vision_path('100'), class: "white-text" %> </button>
      
      <div style="height: 20em"> </div>
    
    <!-- take to profile quiz --> 
<!-- end lander--> 

<%= form_for(@vision) do |f| %>
    <%= f.hidden_field :industry , :value => "default" %>
    <%= f.hidden_field :firstjob, :value => "default" %>
    <%= f.hidden_field :style , :value => "default" %>
    <%= f.hidden_field :prep , :value => "default" %> 

   <%= f.submit %> 
  
<% end %>


</html>

<script> 
    $('#start_button').click(function(){
        $(this).next('form').submit();
    });
</script>


<style>
  body {
	background: url("http://www.ourbloc.co/uploads/2/4/0/1/24014742/ilike_orig.jpg") no-repeat center center fixed;
	margin: 0 auto;
	background-size: cover;
	width: 100%;
	height: 100%;
	font-family: Montserrat;
	}
	

.core-menu{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
}

.core-bloc{
    background-color: white;
    font-size: 4.5em;
    font-family: Montserrat;
    font-weight: bold;
    height: 5em;
    opacity: .8;
    padding: 15% 10%;
}

#core-head{
    color: white;
    line-height: 1.2;
    top: 5%;
    font-size: 5em;
    padding: 15%;
}

core-bloc ul {
    height: 5em;
}

.core-bloc:hover {
    background-color: grey;
}
  
  ul  {
    color:black;
    line-height: 1.2;
  }
  
  #start_button{
    position: relative;
    left: 10%;
    margin-top: 30%;
    width: 80%;
    color: white;
    height: 4em;
    font-size: 6em;
    line-height: 1.2;
    border-radius: 3%;
  }
  
  
  
  
  
</style>
