  <body>
  <script> 
       $(document).ready(function() {

      $.ajaxSetup({ cache: true }); 
      //init facebook
      $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
        FB.init({
          appId: '405857709752176',
          version: 'v2.7' // or v2.1, v2.2, v2.3, ...
        });    
        $(document).trigger('fbload');
      });
    }); 
      
      
  $(document).on(
    'fbload',  //  <---- HERE'S OUR CUSTOM EVENT BEING LISTENED FOR
    function(){
        //some code that requires the FB object
        //such as...
        FB.getLoginStatus(function(res){
            if( res.status == "connected" ){
                FB.api('/me?fields=email,picture,name,first_name', function(fbUser) {
                    console.log(fbUser.first_name)
                   
                });
            }
        });

    }
);
  </script> 

  <ul id="slide-out" class="side-nav">
  
    
    <li><div class="userView">
      <div class="background">
        <img  style="width:10%" src="http://www.ourbloc.co/uploads/2/4/0/1/24014742/9544735.png?43">
      </div>
       <img id="profile_pic" class="circle" src="<%= @user.picture %>" >
       <span class="username black-text name"> <%= @user.name %> </span>
      <span class="black-text email"><%= @user.email %></span>
      <span class="black-text email"><%= @user.school %></span>
      <span class="black-text email"><%= @user.gradyear %> | <%= @user.major %> </span></a>

    </div></li>
    
    <li id="menu_link"><%=link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    <li id="menu_link"><%=link_to 'Retake Quiz', edit_vision_path(@vision) %></li>
    <li id="menu_link"><%=link_to 'View Public Profile ', root_path+ @user.profileurl %></li>


    <li><div class="divider"></div></li>
    <li id="menu_link"><a class="subheader">Recent Activity</a></li>
  </ul>
  <br> 
   <a style="margin:2em 1em" href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="fa fa-bars fa-3x"></i></a>


  
<p id="notice"><%= notice %></p>


<% if current_user.sign_in_count == 1 %> 
<div class="welcome_message" > 
  <h5> Hey <%= @user.name.split(' ')[0] %>, </h5> 
  <p> 
  Thanks for signing up for your first opportunity playlist! </p>
  
  <p>
  Below you'll find <span class="highlight"> 10 curated opportunities 
  and 5 tips and some motivation</span> that we think will help you land a dope opportunity this summer. 
  </p>

  
  <p> This is the pilot version of the app, but you gain free access to a PRO account when we officially launch (including the ability to save posts, filter jobs by location, 
  message other users who can plug you AND apply directly to top employers) by bringing two friends to the community (more info at the bottom of your playlist).
  
  You can retake your quiz anytime by head over to the menu, and we will update with fresh opportunities every week. </p>
  
  <p> Enjoy! </p>
  
  <p>Peace & love, Bloc Team</p>
  
  </p>
  
  <div class="white-text btn waves-effect waves-light" id="hide_welcome"> Got it! </div>
  
</div>
<%end %> 
<!-- end welcome message on first login -->

<!-- SIDE BAR --> 
<div class="row"> 
<!-- Personality Quiz Results --> 
      <div class="col l4 s12 push-s1 push-l1">
        <div class="banner_text card white" style="">
        <div class="card-content grey-text">
          <h5> achieving the dream... </h5>
          <h6><%= @vision.firstjob.capitalize %></h6>
          <br> 
          <h5> building with ...</h5>
          <h6>The <%= @vision.industry %> </h6>
          <br> 
          <h5> seeing it to be it... </h5>
          <%= render "visions/partials/influencers" %> 
        </div>
        </div> 
      </div>
    <div class="banner col l6 s5 push-s7 "> 
    <% if @vision.industry == "Griots" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/176103/pexels-photo-176103.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
    <% elsif @vision.industry =="Artists" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/3104/black-and-white-music-headphones-life.jpg?h=350&auto=compress">
    <% elsif @vision.industry =="Artists" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/3104/black-and-white-music-headphones-life.jpg?h=350&auto=compress">
    <% elsif @vision.industry =="CSuite" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/229/bow-tie-sunglasses-apple-iphone.jpg?w=940&h=650&auto=compress&cs=tinysrgb">
    <% elsif @vision.industry =="Entrepreneurs" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/35032/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb">
    <% elsif @vision.industry =="Scientists" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/167682/pexels-photo-167682.jpeg?h=350&auto=compress&cs=tinysrgb">
     <% elsif @vision.industry =="Advocates" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/203218/pexels-photo-203218.jpeg?h=350&auto=compress&cs=tinysrgb">
    <% elsif @vision.industry =="Educators" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/247839/pexels-photo-247839.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
    <% elsif @vision.industry =="Activists" %> 
      <img style="width: 100%" src="https://action.aclu.org/sites/default/files/imce_images/aclu-action/act15-blmsurveillance-500x280-rel1.jpg">
    <% elsif @vision.industry =="Techies" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/30964/pexels-photo-30964.png?w=940&h=650&auto=compress&cs=tinysrgb">
    
   
    
    <% end %> 
    </div>
</div>
</div>
  
<!-- CONNECTIONS, OPPS RESOURCES --> 
  
 
    
    
<div class="playlist row" style="">
   <div class="render_view col s12 l5 pull-s1" style="">
       <h5> opportunities </h5>
        <%= render "visions/partials/jobs" %>
    </div>


    <div class="render_view col s12 l6 pull-s1" style="">
      <h5 id="tips_header"> pro tips </h5>
      <%= render "visions/partials/resources" %>
    </div>
</div>
  
<div class="open_referral_modal"> <h2 style=""> UPGRADE TO PRO </h2></div>

<div class="referral_modal">
   
    <div class="modal_card card horizontal">
      <div class=" card-image">
        <img src="http://www.ourbloc.co/uploads/2/4/0/1/24014742/blackwomen_orig.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4> Upgrade your account to PRO by bringing 2 friends into the community.</h4>
          
          <h5 class="teal-text"> PRO LEVEL PERKS </h5>
          <p></p>
          <h6> Save Your Favorite Jobs & Tips </h6>
          <h6> Apply directly to Bloc partner employers </h6>
          <h6> Message Bloc users who can plug you with their former employers</h6>
      
        </div>
        <div class="card-content teal-text">
          <h6><%= link_to "LINK TO YOUR SHARE PAGE jointhebloc.com/" + @user.profileurl , root_path + @user.profileurl , class: "teal-text" %> </h6>
        </div>
      </div>
    </div>
   
</div>

    

</body>
<style>
  html, body{
    width: 100%;
    height: 100%;
    font-family: Work Sans;
  }

  .referral_modal {
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: black;
    opacity: .6;
  }
  .render_view{
    padding: 5%;
  }
  .divider{
    display:none;
  }
  .modal_card {
    position:absolute;
    width: 86%;
    margin: 15% 7%;
    font-family: Montserrat;
  }
  
  .playlist {
    padding-left: 10%
  }
  a:hover{
    background-color: inherit;
  }
  
  h5{
    color: black;
  }
  
  .side-nav {
    font-family: Work Sans;
  }
  .welcome_message{
    font-family: Montserrat;
    background-color: white;
    margin: 0% 10% 10% 10%;
    padding: 5%;
    box-shadow: 2px 2px 1px #888888;
  }

  .welcome_message p{
    font-family: Montserrat;

  }
  #show_view {
    display:none;
  }
  
  .highlight{
    color:teal;
    font-weight: 800;
  }
  
  .open_referral_modal h2:hover {
    background-color: grey;
  }
  
  .open_referral_modal h2 {
    left:30%; 
    position: relative; 
    width: 40%; 
    font-family: Montserrat; 
    padding: 1%; border: 
    2px solid black;
  }
  
   .userView span{
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5em;
    line-height: 3.5em;
  }
  
    .circle{
    margin: 20% 45% 2% 45%;
    width: 30%;
  }
  
  li a {
    text-align: center;
  }
  
  @media only screen and (max-device-width: 480px){
    html{
        font-size: 2em;
        width:100%;
    }
    
    div {
      font-size: 1.1em;
    }
    p,span{
      font-size: 1.8em;
      line-height: 1.1em;
      font-family: Lato;
    }
    .playlist{
      padding: 10%;
    }
    .render_view{
      padding: 0%;
      margin: -5% ;
;    }

    .divider{
        display: block;
        width: 80%;
        border: 1px solid grey;
        margin: 5% 0% 10% 10%;
      }
    
    .open_referral_modal h2{
    border: 8px solid black;
    position: relative;
    width: 80%;
    font-size: 5em;
    margin-left: -20%;
    padding: 3%;
  }
  
  .open_referral_modal{
    margin: 10% 10% 30% 10%;
  }
  
  .userView span{
    text-align:center;
    font-family: Montserrat;
    margin: 5%;
    font-size: 3em;
    line-height: 3.5em;
  }
  .modal_card{
    margin-top: 30%;
  }

  #profile_pic {
    width:20%; 
    height: 20%;
    margin-left: 40%;
  }
  
  .banner{
    display: none;
    margin: -50% 0% 0% 0%;
    width: 50%;
    
  }
  
  .card-image{
    display: none;
  }
   #menu_link a{
    text-align: center;
    font-family: Lato;
    font-size: 3em;
    line-height: 3em;
    margin: 5%;
  }
  
  .circle{
    margin: 20% 5%;
  }
  
  #tips_header{
    margin-top: 20%;
  }
  
  .banner_text{
    margin-left: -5%;
    width:92%;
  }
  
  .referral_modal{
    width: 105%;
  }
}

</style>

<script>
  $("#hide_welcome").click(function(){
    $(".welcome_message").hide();
  });
  
  $(".referral_modal").click(function(){
    $(this).hide(1)
  });
  
  $(document).ready(function(){
    $(".referral_modal").hide();
     $(".open_referral_modal").click(function(){
           $(".referral_modal").show(100);
            $('html,body').animate({
            scrollTop: $(".referral_modal").offset().top},
            'slow');
     });
  });
  
   getPanelWidth = function() {
    var screenWidth = $(window).width();
    panelSize = screenWidth > 500 ? Math.floor(screenWidth * 0.8) : Math.floor(screenWidth * 0.9);
    console.log(panelSize);
    return panelSize ;
};

$('.button-collapse').sideNav({
    menuWidth: getPanelWidth(), // Default is <240></240>
    edge: 'left', // Choose the horizontal origin
    closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
});

$('.side-nav').click(function(){
  $('.button-collapse').sideNav('hide');
})
        
</script>


