  <body>
  <script> 
       $(document).ready(function() {
      $.ajaxSetup({ cache: true });
      //init facebook
      $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
        FB.init({
          appId: '405857709752176',
          version: 'v2.7' // or v2.1, v2.2, v2.3, ...
        });    
        $(document).trigger('fbload');
      });
    }); 
      
      
  $(document).on(
    'fbload',  //  <---- HERE'S OUR CUSTOM EVENT BEING LISTENED FOR
    function(){
        //some code that requires the FB object
        //such as...
        FB.getLoginStatus(function(res){
            if( res.status == "connected" ){
                FB.api('/me?fields=email,picture,name,first_name', function(fbUser) {
                    console.log(fbUser.email)
                   
                });
            }
        });

    }
);
  </script> 

  <ul id="slide-out" class="side-nav">
  
    
    <li><div class="userView">
      <div class="background">
        <img style="width:10%; padding:.2em;" src="">
      </div>
       <img class="circle" src="<%= @vision.image %>" >
      <a href="#!name"><span class="username black-text name"> <%= @vision.username %> </span></a>
      <a href="#!email"><span class="black-text email"><%= @vision.email %></span></a>
      
    </div></li>
    <li><a href="#!"><i class="fa fa-twitter"></i>Twitter Account</a></li>
    <li><a href="#!"><i class="fa fa-cloud"></i>Upload Resume</a></li>
    <li><a class="black-text" href="users/edit.html">Account</a></li>
    <li><%=link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    <li><%=link_to 'Retake Quiz', edit_vision_path(@vision) %></li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Recent Activity</a></li>
  </ul>
  <br> 
   <a style="margin:2em 1em" href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars fa-3x"></i></a>


  
<p id="notice"><%= notice %></p>

<!-- SIDE BAR --> 
<div class="row"> 





<!-- Personality Quiz Results --> 
      <div class="col l4 s9 push-s1 push-l1">
        <div class="card white" style="width:100%; margin-top:5%">
        <div class="card-content grey-text">
          <h5> achieving the dream... </h5>
          <h6><%= @vision.firstjob.capitalize %></h6>
          <br> 
          <h5> building with ...</h5>
          <h6>The <%= @vision.industry %></h6>
          <br> 
          <h5> seeing it to be it... </h5>
          <%= render "visions/partials/influencers" %> 
        </div>
        </div> 
      </div>
    <div class="col l6 s3 "> 
    <% if @vision.industry == "Griots" %> 
      <img style="width: 100%" src="http://www.newyorker.com/wp-content/uploads/2014/08/Cole-James-Baldwin-Stranger-In-The-Village-690.jpg">
    <% elsif @vision.industry =="Artists" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/3104/black-and-white-music-headphones-life.jpg?h=350&auto=compress">
    <% elsif @vision.industry =="Artists" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/3104/black-and-white-music-headphones-life.jpg?h=350&auto=compress">
    <% elsif @vision.industry =="CSuite" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/229/bow-tie-sunglasses-apple-iphone.jpg?w=940&h=650&auto=compress&cs=tinysrgb">
    <% elsif @vision.industry =="Entrepreneurs" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/35032/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb">
    <% elsif @vision.industry =="Scientists" %> 
      <img style="width: 100%" src="http://thumbs.media.smithsonianmag.com//filer/bc/d3/bcd3d9a3-c321-485a-85b6-839b7fa10241/melbaroy.jpg__800x600_q85_crop_subject_location-1310,768.jpg">
     <% elsif @vision.industry =="Advocates" %> 
      <img style="width: 100%" src="http://www.radiodiaries.org/wp-content/uploads/Shirley-Chisholm_001_L.jpg">
    <% elsif @vision.industry =="Educators" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/7098/space-desk-laptop-notebook.jpg?w=940&h=650&auto=compress&cs=tinysrgb">
    <% elsif @vision.industry =="Activists" %> 
      <img style="width: 100%" src="http://msumun.org/wp-content/uploads/2016/12/freedom-to-vote.jpg">
    <% elsif @vision.industry =="Techies" %> 
      <img style="width: 100%" src="https://images.pexels.com/photos/30964/pexels-photo-30964.png?w=940&h=650&auto=compress&cs=tinysrgb">
    
   
    
    <% end %> 
    </div>
</div>
</div>
  
<!-- CONNECTIONS, OPPS RESOURCES --> 
<div class="row" style="padding-left: 10%">
   <div class="col s12 l5 pull-s1" style="padding: 5%">
     <h5> opportunities </h5>
      <%= render "visions/partials/jobs" %>
    </div>
    
    <div class="col s12 l6 pull-s1" style="padding: 5%">
      <h5> pro tips </h5>
      <%= render "visions/partials/resources" %>
    </div>
    
    <div class="col s12 l6 pull-s1" style="padding: 5%">
      <h5> coming soon... </h5>
      <%= render "visions/partials/hangout" %>
    </div>
    
    </div>
    
<div>
    <div class="col s12" style="padding: 5%">
      <%= render "visions/partials/feedback" %>
    </div>
    
    <div> 
    <!--
      <a class="waves-effect waves-light btn" id="show_tip_modal">Modal</a>
      <div id="render_tip_modal"> </div>
      
      --> 
    </div>
    
  </div>
</body>
<style>
  html, body{
    width: 100%;
    height: 100%;
    font-family: Work Sans;
  }
  a:hover{
    background-color: inherit;
  }
  
  h5{
    color: black;
  }
  

  
  @media only screen and (max-device-width: 480px){
    html{
        font-size: 2em;
    }
    
    div {
      font-size: 1.1em;
    }
    p,span{
      font-size: 1.8em;
    }
}

</style>

<script>

</script>


