<h5> User Profiles </h5>
    <% if user_signed_in?  %> 
    <h4> Data</h4>
    
    <% @users_all.each do |user| %>   
        <div class="card horizontal white" style="width:50%; height: 40%">
            <div class="card-content teal-text">
                <h5><%= link_to user.name, edit_user_registration_path(user.id) %> </h5> 
        
                   <% if user.prep != nil%> 
                       <h6><%= user.prep %> </h6>
                       <h6><%= user.industry %> </h6>
                       <h6><% if user.hometown != nil %> <%= user.hometown %> <% end %>  </h6>
                        <h6><%= user.firstjob %> </h6>
                        <h6><%= user.style %> </h6>
                        <h6><%= user.gradschool %> </h6>
                        <h6><%= link_to user.profileurl, root_path + user.profileurl %> </h6>
                        <h6><%= user.email %></h6>
                    <% end %> 
                    
                    
            </div>
        </div> 
    <% end %> 
    <% end %> 
 