
<div class="profile"> 
<div class ="profile_info row">
    <div class="col s12 l6"> 
        <h6><%= image_tag @user.picture, class:  "circle" %> </h6>
        <h5> <%= @user.name %> </h5>
        <h6> <%= @user.email %> </h6>
        <h6> <%= @user.school %> </h6>
        <h6> <%= @user.experience %> </h6>
        <h6> <%= @user.major%> | <%= @user.gradyear%> </h6>
    </div> 

    <div class="col s12 l6"> 
        <% if @vision != nil %>
            <h5 style="margin-top: 10%"> seeing it to be it... </h5>
            <div style="height: 2em">
              <% @influencers.each do |influencer| %>
                <h6><%= influencer.name %></h6>
              <% end %>
            </div>
            <% else %> 
            <h5><%= link_to "Get started by building your first playlist", new_vision_path %> </h5>
            <div style="height: 2em"> </div>
            <% end %>
    
        <h6 class="teal-text" id="share_code">share code: <%= link_to "jointhebloc.co/"+ @user.profileurl, "https://blocview-aminabloc.c9users.io/"+ @user.profileurl  %> </h6>
     </div>
 </div> 
 
 <div class="share_bar">
   
    <% if user_signed_in? %> 
    <p> <%= link_to "back to my profile", myprofile_path, class: "white-text" %> </p>

    <% else%> 
    <p> <%= link_to "Click to create your account and get your own custom career playlist!", user_facebook_omniauth_authorize_path, class:"white-text" %> </p>
    
    <% end %> 
</div>
</div>


     
     
     
     
     
     
      
   
 
  


        

<style> 
 html, body{
    width: 100%;
    height: 100%;
    font-family: Work Sans;
  }
  a:hover{
    background-color: inherit;
    color:teal;
  }
  
  .profile {
      position: absolute;
      width:60%;
      margin: 5% 20% ;
      background-color:white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 0%;
  }
  
  .profile_info{
      margin: 7% 7% 20% 7%;
  }
  
  .share_bar{
      background-color:teal;
      color: white;
      font-weight: strong;
      width: 100%;
      position:absolute;
      bottom: 0px;
      padding: 0%;
      margin-top: 10em;
  }
  
  .share_bar p,h5 {
      font-family: Montserrat;
  }
  
  #submitFB{
  position: absolute;
  background: #3b5998;
  color:white;
  border: 4px solid grey;
  padding: 7% 5% 5% 18%;
  margin-top: -30%;
  width: 15em;
  height: 3em;
}
  h5{
    color: black;
  }
  
  .side-nav {
    font-family: Work Sans;
  }

  #show_view {
    display:none;
  }
  
    @media only screen and (max-device-width: 480px){
    html{
        font-size: 2em;
        height: 100%;
        width: 100%;
    }
    .side-nav {
      width: 100em;
    }
    
    .drag-target{
      width: 100em;
    }
    div {
      font-size: 1.1em;
    }
    p,span{
      font-size: 1.8em;
    }
    
    .profile {
      position: absolute;
      margin: 0%;
      width: 100%;
      height: 100%;
    }
    
    .share_bar h6 {
      font-size: 1.5em;
    }
    
    .share_bar{
      background-color:teal;
      text-align: center;
      font-family: Montserrat;
      font-size: 2em;
      line-height: 2em;
      color: white;
      height: 20%;
      font-weight: strong;
      width: 100%;
      position:absolute;
      bottom: 0px;
      padding: 5% 3%;
      margin-top: 12em;
    }
    
   .profile_info{ 
      margin: 10% 5%;
      text-align: center;
    }
      
  #share_code {
      position: absolute;
      font-size: 2em;
      font-weight: 800;
      margin-top: 10%;
      margin-left: -2%;
      }
  .circle {
    width: 18%;
    top: 10%;
  }
  h5 {
    margin-top: 10%;
  }
}

</style>




