<% if current_user.school == "Morehouse College" %> 
    <%= render "university/partials/menu" %> 
<% end %> 

  <div>
    <% @tips.each do |tip| %>
      <div class="tip_index_card">
        <td> <%= link_to tip.title, tip.link %></td>

        <% if !user_signed_in?  %>
          <td><%= tip.industry %></td>
          <td><%= tip.link %></td>
          <td><%= tip.prep %></td>
          <td><%= tip.grad %></td>
          <td><%= link_to 'Show', tip %></td>
          <td><%= link_to 'Edit', edit_tip_path(tip) %></td>
          <td><%= link_to 'Delete', tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %> 
    
      </div>
    <% end %>
  </div>

<br>

<% if !user_signed_in?  %> 
<%= link_to 'New Tip', new_tip_path %>
<% end %> 
