<p id="notice"><%= notice %></p>
<div class="row">
<div class=" tip_show col s12  l8 offset-l2"> 
<h4 class="grey-text tip_title"> <%= @tip.title.upcase %>
  
</h4>

<p>

  <%=simple_format(@tip.body)%>
</p>

<p>
  
</p>

<p>
  <strong>  </strong>
  <%= link_to "Checkout More Resources",  @tip.link %>
</p>


<p class="cyan-text">
  <%= @tip.prep.upcase.gsub("_", "  ") %> 
  <%= @tip.industry.upcase  %>
</p>

<% if user_signed_in? and current_user.id == @tip.user_id %> 
  <%= link_to 'Edit', edit_tip_path(@tip) %> |
  <%= link_to 'Back', tips_path %>
<% end %> 
</div>
</div>
