<p id="notice"><%= notice %></p>
<div class="row">
<div class="card tip_show col s12  l8 offset-l2"> 
<h4 class="grey-text tip_title"> <%= @tip.title.upcase %>
  
</h4>

<p>

  <%= simple_format(@tip.body) %>
</p>

<p>
  
</p>

<p>
  <strong>  </strong>
  <%= link_to "Read More Here",  @tip.link %>
</p>


<p class="teal-text">
  <%= @tip.prep.upcase.gsub("_", "  ") %> 
  <%= @tip.industry.upcase  %>
</p>
<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
</div>
</div>
